 @media print {
  ::ng-deep .no-print {
      display: none !important;
    }    
   
    table, th, td {
      //border: 1px solid black;
    }
    *, body {
      background-color: white !important;
      box-shadow: none !important; /* Remove any box shadows */
      color: black !important; /* Ensure text remains visible */
      overflow: hidden;
      font-size: 13px;
    }
    mat-card {     
      background-color: white !important;
      box-shadow: none !important; 
    }
    .container{
      //page-break-inside: avoid;
    }
    // .page-break {
    //   page-break-before: always; /* Forces content to start on a new page */
    //   break-before: page;
    // }
    // th {
    //   background-color: lightgray; /* Header background */
    //   color: black; /* Header text color */
    // }
    //  th{
    //   background-color: #09002d !important;
    //   color: white !important;
    // }
  }

  ::ng-deep td,th{
    border: 1px solid #c7c7c7;
  }
  ::ng-deep h5,.center,th,td{
    text-align: right;
    
  }

  ::ng-deep .div-center{
    justify-content: center;
    display: flex;
  }

  ::ng-deep .mat-mdc-table {
    box-shadow: none;
    margin-bottom: 10px;
}
::ng-deep  h6 {
  font-size: 1.3rem !important;
}
::ng-deep .mat-mdc-card {
    
    background-color: white;
    border-color: var(--mdc-elevated-card-container-color, var(--mat-sys-surface-container-low));
    border-radius: var(--mdc-elevated-card-container-shape, var(--mat-sys-corner-medium));
    box-shadow: none;
}

::ng-deep .mat-mdc-form-field {
  width: 100%;
}

::ng-deep mat-card-title{
  padding: 15px 20px 0px 20px;
}

::ng-deep .align-right{
  float: right !important;
}
::ng-deep .align-left{
  float: left !important;
}
::ng-deep .container{
  margin-bottom: 20px;
}
::ng-deep .button-row{
  float: right !important;
}
::ng-deep .mat-mdc-row:nth-child(even) {
  background-color:transparent;
}

:host ::ng-deep .mat-mdc-footer-row > .mat-column-serial{
  text-align: right !important;
  font-size: 16px;

}

::ng-deep .mat-mdc-footer-row > .mat-column-amount{
  font-size: 16px;

}
 .mdc-data-table__header-cell {
   padding: 0 !important;
     text-align: center !important; 
}
::ng-deep .amt{
  width: 6% !important;
}
.mat-mdc-footer-font {
  font-size: 17px !important;   
}
.report-head
 {
    padding: 8px 10px 10px 10px;   
}
::ng-deep .desc-btn mat-icon{
    height: 18px !important;
    width: 18px !important;
    font-size: 18px !important;
}
::ng-deep .mdc-data-table__cell, .mdc-data-table__header-cell{
    padding: 0px 5px !important;
    text-align: center !important;
}
::ng-deep .mdc-data-table__header-cell{
    padding: 0px 5px !important;
    text-align: center !important;
}
::ng-deep .mat-mdc-table th:first-child{
  width: 4em;
}

