<div class="container">   
    <div class="load-wrap" *ngIf="isLoading">
        <app-loader [IsLoading]="isLoading"></app-loader>
    </div>
        <div class="wrapper" *ngIf="!isLoading">                
            <div class="mat-elevation-z8">
                <div class="no-print div-center container">
                  <div class="button-row ">
                    <button class="print-btn" onclick="window.print()" mat-fab extended>
                      <mat-icon>print</mat-icon>
                      Print
                    </button>
                    <button class="title-btn  no-print" type="button" [matMenuTriggerFor]="menu"  mat-mini-fab color="primary">
                      <mat-icon>add box</mat-icon> Add
                     </button>     
                   
                       <mat-menu #menu="matMenu">
                          <button routerLink="staff-create" mat-menu-item>Remuneration </button>
                          <button routerLink="staff-create" mat-menu-item>Supporting Staff</button>
                          <button  routerLink="tp-create" mat-menu-item>Transportation </button>
                          <button routerLink="dt-create" mat-menu-item>Duty Travel to Site </button>
                          <button routerLink="or-create" mat-menu-item>Office Rent </button>
                          <button routerLink="os-create" mat-menu-item>Office Supplies </button>
                          <button routerLink="of-create" mat-menu-item>Office Furniture </button>
                          <button routerLink="rd-create" mat-menu-item>Reports and Document </button>
                          <button routerLink="rs-create" mat-menu-item>Road Survey  </button>
                          <button routerLink="cont-create" mat-menu-item>Contingencies </button>
                       </mat-menu>
                  </div>
               
                </div>
                <mat-card>
                    <mat-card-title>
                        <h6>Summary of Costs</h6>
                    </mat-card-title>
                    <mat-card-content>
                        <table mat-table [dataSource]="dataSource" >
                      
                            <ng-container matColumnDef="serial">
                              <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                              <td mat-cell *matCellDef="let row"> {{row.srno}} </td>
                              <td mat-footer-cell *matFooterCellDef colspan="2"> Sub Total </td>
                              <td mat-footer-cell *matFooterCellDef colspan="2"> Goods and Service Taxes  </td>
                              <td mat-footer-cell *matFooterCellDef colspan="2"> Total  </td>
                            </ng-container>
                        
                            <!-- contractName Column -->
                            <ng-container matColumnDef="value">
                              <th mat-header-cell *matHeaderCellDef > Description </th>
                              <td  mat-cell *matCellDef="let row">
                                <span class="align-left">
                                  {{row.value}} 
                                </span> </td>
                            </ng-container>                      
                            <ng-container matColumnDef="amount">
                              <th mat-header-cell *matHeaderCellDef > Amount (Rs.) </th>
                              <td mat-cell *matCellDef="let row">
                                <span class="float-end">
                                  {{row.amount}}
                                </span> 
                              </td>
                                <td mat-footer-cell *matFooterCellDef > 23213</td>                                
                            </ng-container>
                             <!-- Disclaimer column -->
                            <ng-container matColumnDef="gst">
                              <td mat-footer-cell *matFooterCellDef colspan="2">
                               Goods and Service Taxes 
                              </td>
                              <td mat-footer-cell *matFooterCellDef >
                                4534
                               </td>
                            </ng-container>
                            <ng-container matColumnDef="total">
                              <td mat-footer-cell *matFooterCellDef colspan="2">
                                Total Cost 
                              </td>
                              <td mat-footer-cell *matFooterCellDef >
                                23432
                               </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
                            <tr mat-footer-row *matFooterRowDef="footerColumns"></tr>
                            <tr mat-footer-row *matFooterRowDef="['gst']" class="example-second-footer-row"></tr>
                            <tr mat-footer-row *matFooterRowDef="['total']" class="example-second-footer-row"></tr>                    
                          </table>
                    </mat-card-content>
                </mat-card> 
                <div class="page-break"></div>
                <app-boq-staff-list (onAmountChange)="staff_amount($event)" ></app-boq-staff-list>
                <app-boq-transportation-list (onAmountChange)="tp_amount($event)" ></app-boq-transportation-list>
                <app-boq-duty-travel-list (onAmountChange)="dt_amount($event)"></app-boq-duty-travel-list>
                <app-boq-office-rent-list (onAmountChange)="or_amount($event)"></app-boq-office-rent-list>
                <app-boq-office-supply-list (onAmountChange)="os_amount($event)"></app-boq-office-supply-list>
                <app-boq-office-furniture-list (onAmountChange)="of_amount($event)"></app-boq-office-furniture-list>
                <app-boq-report-doc-list (onAmountChange)="rd_amount($event)"></app-boq-report-doc-list>               
                <app-boq-road-survey-list (onAmountChange)="rs_amount($event)"> </app-boq-road-survey-list>
                <app-boq-contingency-list (onAmountChange)="cont_amount($event)"></app-boq-contingency-list>
        </div>
        </div>
</div>

<router-outlet></router-outlet>

