<div class="container"> 
    <!-- <h3>Project Details - {{projectName}}</h3> -->  
   <mat-card>
       <mat-card-content>
           <div class="load-wrap" *ngIf="isLoading">
               <app-loader [IsLoading]="isLoading"></app-loader>
           </div>
           <div  *ngIf="!isLoading">
            <mat-tab-group animationDuration="0ms">
                <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">receipt_long</mat-icon>
                      Letters
                    </ng-template>
                    <ng-template matTabContent>
                      <app-explore-letters></app-explore-letters>
                    </ng-template>                  
                  </mat-tab>
                  <mat-tab >
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">route</mat-icon>
                      Mile Stone
                    </ng-template>
                    <ng-template matTabContent>
                      <app-explore-milestone></app-explore-milestone>
                    </ng-template>
                  </mat-tab>
                  <mat-tab >
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">sync_arrow_up</mat-icon>
                      Site Progress
                    </ng-template>
                    <ng-template matTabContent>
                      <app-explore-site-progress></app-explore-site-progress>
                    </ng-template>
                    
                  </mat-tab>                    
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">more_time</mat-icon>
                      EOT
                    </ng-template>
                    <ng-template matTabContent>
                      <app-explore-eot></app-explore-eot>>
                    </ng-template>                      
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">update</mat-icon>
                      COS
                    </ng-template>
                    <ng-template matTabContent>
                      <app-explore-cos></app-explore-cos>
                    </ng-template>                        
                  </mat-tab> 
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">update</mat-icon>
                      Bank Guarantee
                    </ng-template>
                    <ng-template matTabContent>
                      <app-explore-bank-guarantee></app-explore-bank-guarantee>
                    </ng-template>                        
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>
                      <mat-icon class="example-tab-icon">update</mat-icon>
                      Insurance
                    </ng-template>
                    <ng-template matTabContent>
                      <app-explore-insurance></app-explore-insurance>
                    </ng-template>                        
                  </mat-tab>
            </mat-tab-group>
           </div>
       </mat-card-content>
   </mat-card>
</div>