.pr-0{
    padding-right: 0;
}
.sub-heading{
    margin-top: 0px;
}
.mat-mdc-card{
    padding: 20px;
}
.round-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd; /* Optional border */
  }

.ht-100{
    height: 100%;
}
hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}