<div class="container" >
   
    <div class="row">
    <div class="wrapper col-md-6 pr-0">
    <mat-card>        
              
        <mat-dialog-content class="mat-typography">
        <mat-card-content class="pad-0">
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper" *ngIf="!isLoading">
                <div class="row col-md-12" >                    
                    <div class="col-md-4" >
                        
                      <img [src]="imageURL" alt="Profile" class="round-image" />
                      <div class="row col-md-12 content-center">
                        <div class="col-md-6 pr-0">
                            <app-file-uploader  UploadType="image"
                            [AllowedType]="['image/png', 'image/jpeg']" (onfileUpload)="onfileUploaded($event)" ></app-file-uploader>                            
                        </div>
                        <div class="col-md-6 pl-0">
                            <button class="submit-btn" (click)="saveImage()" type="button" mat-flat-button color="primary">
                                Save
                           </button> 
                        </div>    
                    </div>
                      </div> 
                      <div class="row col-md-8 pad-0">
                        <h4>{{empDetails?.code+'-'+empDetails?.name}}</h4>
                        <hr>
                        <div class=" col-md-3 pad-0">
                            <span class="details-text"> Designation</span>
                        </div>
                        <div class="col-md-9 pad-0">
                            <span class="details-val">{{empDetails?.designation}}</span>
                        </div>
                        <hr>
                        <div  class="col-md-3 pad-0">
                            <span class="details-text">Type</span>
                        </div>                     
                        <div class="col-md-9 pad-0">
                            <span class="details-val">{{empDetails?.type }}</span>
                        </div>
                        <hr>
                        <div  class="col-md-3 pad-0">
                            <mat-icon>mail</mat-icon>
                        </div>                     
                        <div class="col-md-9 pad-0">
                            <span class="details-val">{{empDetails?.emailid }}</span>
                        </div>
                        <hr>
                        <div  class="col-md-3 pad-0">
                            <mat-icon>call</mat-icon>
                        </div>                     
                        <div class="col-md-9 pad-0">
                            <span class="details-val"> {{empDetails?.phonenumber }}</span>
                        </div>
                      </div>   
                </div> 
                <hr>
                <div  class=" row col-md-12"> 
                    <div class="col-md-2 ">                            
                        <span class="details-text">
                            Company
                        </span>
                        </div>
                        <div class="col-md-2">
                        <span class="details-val">
                            {{empDetails?.company}} 
                        </span>
                        </div>  
                    <div class="col-md-2 pad-0">                            
                    <span class="details-text">
                        Joining Date
                    </span>
                    </div>
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.joiningdate | formatDate}} 
                    </span>
                    </div>                    
                    <div class="col-md-1 pad-0">
                        <span class="details-text">
                            Status
                        </span>
                    </div>
                    <div class="col-md-2">
                    <span class="details-val">                       
                       <span class="msg-note">{{empDetails?.status}}</span>
                    </span>
                    </div>    
                  
                </div>
            </div>
        </mat-card-content>
        </mat-dialog-content>
    </mat-card>
   </div>
   <div class="wrapper col-md-6">
    <mat-card class="ht-100">        
        <span class="sub-heading">General Information</span>
        <mat-dialog-content class="mat-typography">
        <mat-card-content >
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper" *ngIf="!isLoading">
                <div  class=" row col-md-12">
                            
                    <div class="col-md-3">
                    <span class="details-text">
                        Gender
                    </span>
                    </div>
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.gender}}
                    </span>
                    </div>
                    <div  class="col-md-3">
                    <span class="details-text">
                        Qualification
                    </span>
                    </div>                     
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.qualification }}
                    </span>
                    </div>
                    <hr>
                    <div class="col-md-3">                            
                    <span class="details-text">
                        Martial Status
                    </span>
                    </div>
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.maritalstatus}} 
                    </span>
                    </div>                    
                    <div class="col-md-3">
                        <span class="details-text">
                            Date Of Birth
                        </span>
                    </div>
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.dateofbirth | formatDate}}
                    </span>
                    </div>    
                    <hr>
                    <div class="col-md-3">
                        <span class="details-text">
                            UAN No.
                        </span>
                        </div>
                        <div class="col-md-3">
                        <span class="details-val">
                            {{empDetails?.uannumber}}
                        </span>
                        </div>
                        <div  class="col-md-3">
                        <span class="details-text">
                            PAN No.
                        </span>
                        </div>                     
                        <div class="col-md-3">
                        <span class="details-val">
                            {{empDetails?.pannumber }}
                        </span>
                        </div>
                        <hr>
                         <div class="col-md-3">                            
                        <span class="details-text">
                            Aadhar No.
                        </span>
                        </div>
                        <div class="col-md-9">
                        <span class="details-val">
                            {{empDetails?.aadharnumber}} 
                        </span>
                        </div> 
                        <hr>
                        <div class="col-md-3">                            
                       <span class="details-text">
                            Address
                        </span>
                        </div>
                        <div class="col-md-9">
                        <span class="details-val">
                            {{empDetails?.currentaddress}} 
                        </span>
                        </div>                    
                              
                </div>

            </div>
        </mat-card-content>
        </mat-dialog-content>
    </mat-card>
   </div>
   <div class="wrapper col-md-12">
    <mat-card class="wrapper">  
        <span class="sub-heading">Bank Information</span>
        <mat-dialog-content class="mat-typography">
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="container" *ngIf="!isLoading">
                <div  class=" row col-md-12">
                            
                    <div class="col-md-3">
                    <span class="details-text">
                        Bank Name
                    </span>
                    </div>
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.bankname}}
                    </span>
                    </div>
                    <div  class="col-md-3">
                    <span class="details-text">
                        Account Number
                    </span>
                    </div>                     
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.accountnumber }}
                    </span>
                    </div>
                    <hr>
                    <div class="col-md-3">                            
                    <span class="details-text">
                        IFSC Code
                    </span>
                    </div>
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.ifsccode}} 
                    </span>
                    </div>                    
                    <div class="col-md-3">
                        <span class="details-text">
                            Address
                        </span>
                    </div>
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.bankaddress}}
                    </span>
                    </div>       
                </div> 
            </div>
        </mat-card-content>
        </mat-dialog-content>
    </mat-card>
    </div>
   <div class="wrapper col-md-12">
    <mat-card class="wrapper">        
        <span class="sub-heading">Emergency Information</span>
        <mat-dialog-content class="mat-typography">
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper" *ngIf="!isLoading">
                <div  class=" row col-md-12">
                            
                    <div class="col-md-3">
                    <span class="details-text">
                        Name
                    </span>
                    </div>
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.emergencypersonname}}
                    </span>
                    </div>
                    <div  class="col-md-3">
                    <span class="details-text">
                        Contact No.
                    </span>
                    </div>                     
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.emergencycontactnumber }}
                    </span>
                    </div>
                    <hr>
                    <div class="col-md-3">                            
                    <span class="details-text">
                        Relation
                    </span>
                    </div>
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.relation}} 
                    </span>
                    </div>                    
                    <div class="col-md-3">
                        <span class="details-text">
                            Address
                        </span>
                    </div>
                    <div class="col-md-3">
                    <span class="details-val">
                        {{empDetails?.emergencyaddress}}
                    </span>
                    </div>       
                </div>
            </div>
        </mat-card-content>
        </mat-dialog-content>
    </mat-card>
    </div> 
   
   
</div>
</div>
