<div class="container">
    <mat-card>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper" *ngIf="!isLoading">                

                <div class="mat-elevation-z8">
                  <div class="row content-center">
                    <div class="col-md-9">
                        <app-search-bar-controls [isSubCompany]="true" [isAny]="true"
                        (OnSubCompanyChange)="filterChange($event)"
                        (OnAnyChange)="filterChange($event)"
                         searchByAnyPlaceholder="Designation / SubCompany" ></app-search-bar-controls>                         
                  </div>       
                  <div class="col-md-3 button-row main-btn-row d-flex justify-content-end">
                    <app-upload-btn routerLink="upload-desg" ></app-upload-btn>          
                    <button class="title-btn" type="button" routerLink="create"  mat-mini-fab color="primary">
                      <mat-icon>add box</mat-icon> Designation
                  </button> 
                  </div>
                </div>                    
                    <app-no-data *ngIf="dataSource?.data?.length==0"  message="No Designation(s) details found at this moment !!" ></app-no-data>
                    <div *ngIf="dataSource?.data?.length!=0"   class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                      
                          <ng-container matColumnDef="serial">
                            <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                            <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
                          </ng-container>
                      
                          <!-- contractName Column -->
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                          </ng-container>
                      
                           <!-- con_personName Column -->
                           <ng-container matColumnDef="companyname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Company Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.companyname}} </td>
                          </ng-container>

                          <!-- Name Column -->
                          <ng-container matColumnDef="employeecount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Count </th>
                            <td mat-cell *matCellDef="let row"> {{row.empcount}} </td>
                          </ng-container>
                          <ng-container matColumnDef="employees">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee(s) </th>
                            <td mat-cell *matCellDef="let row">                              
                              <app-view-btn *ngIf="row.empcount!=0" (clickEvent)="viewEmp(row)"></app-view-btn>
                              <span *ngIf="row.empcount==0">-</span>
                            </td>
                          </ng-container>
                         
                          <!-- con_personName Column -->
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td mat-cell *matCellDef="let row"> 
                              <div class="button-row">
                            
                                <app-edit-btn [routerLink]="['/designation/edit',row.id]" [state]="row" ></app-edit-btn>                              
                                <app-delete-btn [state]="row" [routerLink]="['/designation/delete',row.id]" ></app-delete-btn>
                              </div>
                           </td>
                          </ng-container>
                        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell no-data-cell"  attr.colspan="{{ displayedColumns.length }}">
                              No Designation found at this moment.</td>
                          </tr>
                        </table>
                        <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="pagination" showFirstLastButtons>
                        </mat-paginator>
                      </div>                    
                      
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<router-outlet></router-outlet>
