h2 { color: #f44336; }

.mat-mdc-dialog-content { 
    font-size: 17px;
       padding: 24px 24px 55px 24px !important;
 }
 .mat-icon{
    height: 60px;
    width: 60px;
    font-size: 60px;
    color: red;
 }
 .msg-head{
    font-size: 26px;
 }
