<div class="container">
    <mat-card>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper" *ngIf="!isLoading">                

                <div class="mat-elevation-z8">
                   
                      <div class="table-title-row">
                        <mat-form-field>
                          <mat-label>Filter</mat-label>
                          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                        </mat-form-field>
                        <div class="button-row">              
                          <button class="title-btn" type="button" routerLink="create"  mat-mini-fab color="primary">
                            <mat-icon>add box</mat-icon> Invoice
                        </button>  
                      </div>
                    </div> 
                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                      
                          <ng-container matColumnDef="serial">
                            <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                            <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
                          </ng-container>
                      
                          <!-- contractName Column -->
                          <ng-container matColumnDef="projectid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Code </th>
                            <td mat-cell *matCellDef="let row"> {{row.projectcode}} </td>
                          </ng-container> 
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.projectshortname}} </td>
                          </ng-container>                      
                         
                          <!-- con_personName Column -->
                          <ng-container matColumnDef="view">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
                            <td mat-cell *matCellDef="let row"> 
                              <button class="edit-table-btn" [state]="row"
                            [routerLink]="['/consultancy-invoice']" matTooltip="View" mat-mini-fab >
                              <mat-icon>visibility</mat-icon> 
                            </button>
                            </td>
                          </ng-container>
                          <!-- con_personName Column -->
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td mat-cell *matCellDef="let row"> 
                              <button class="delete-table-btn" [state]="row"
                            [routerLink]="['/invoice/delete',row.id]" matTooltip="Delete" mat-mini-fab >
                              <mat-icon>delete_forever</mat-icon> 
                            </button>
                           </td>
                          </ng-container>
                        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                          </tr>
                        </table>
                        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pagination" showFirstLastButtons>
                        </mat-paginator>
                      </div>                    
                      
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<router-outlet></router-outlet>
