<table class="table">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <ng-container >
        <tr>
           <td><div class="skeleton-loader"></div></td>
          <td><div class="skeleton-loader"></div></td>
          <td><div class="skeleton-loader"></div></td>
          <td></td>
          
        </tr>
        <tr>
           <td colspan="2"><div class="skeleton-loader"></div></td>         
        </tr>
        <tr>
           <td><div class="skeleton-loader"></div></td>
          <td><div class="skeleton-loader"></div></td>
          <td><div class="skeleton-loader"></div></td>
          <td><div class="skeleton-loader"></div></td>
          
        </tr>
        <tr>
           <td colspan="3"><div class="skeleton-loader"></div></td>         
        </tr>   
        <tr>
           <td><div class="skeleton-loader"></div></td>
          <td><div class="skeleton-loader"></div></td>
          <td><div class="skeleton-loader"></div></td>
          <td><div class="skeleton-loader"></div></td>
         
        </tr>
    </ng-container>
    </tbody>
</table>