<!-- 
<div class="container mt-4">
    <div class="row" >
        <div class="col-md-4 d-flex flex-column justify-content-between bg-primary text-white p-3">
            Rowspan Div (Takes full height)
          </div>
        <div class="col-md-8">
            <div class="row">
              <div class="col-12 bg-success text-white p-3 mb-2">
                Row 1
              </div>
              <div class="col-12 bg-warning text-dark p-3">
                Row 2
              </div>
            </div>
          </div>
    </div>
  </div> -->


  <div class="container ">
    <!-- Row 1: 3 columns -->
    <div class="row mb-3 " >
      <div class="col-md-4 wrapper pr-0">
        <mat-card class="ht-100">  
            <mat-dialog-content class="mat-typography">
            <mat-card-content class="pad-0">
                <div class="load-wrap" *ngIf="isLoading">
                    <app-loader [IsLoading]="isLoading"></app-loader>
                </div>
                <div class="wrapper" *ngIf="!isLoading">
                   
                    <div echarts [options]="chartOption" class="demo-chart"></div>
                </div>
            </mat-card-content>
            </mat-dialog-content>
        </mat-card>
      </div>
      <div class="col-md-2 wrapper pr-0">
        <mat-card class=" ht-100">  
            <mat-dialog-content class="mat-typography">
            <mat-card-content class="pad-0">
                <div class="load-wrap" *ngIf="isLoading">
                    <app-loader [IsLoading]="isLoading"></app-loader>
                </div>
                <div class="wrapper" >                        
                    <div echarts  [options]="roleoption" class="demo-chart"></div>
                </div>
            </mat-card-content>
            </mat-dialog-content>
        </mat-card>
      </div>
      <div class="col-md-6 wrapper">
        <mat-card class=" ht-100">  
            <mat-dialog-content class="mat-typography">
            <mat-card-content class="" style="padding-left:4%;">
                <div class="load-wrap" *ngIf="isLoading">
                    <app-loader [IsLoading]="isLoading"></app-loader>
                </div>
                <div class="row" >
                    <div class="col-md-3 d-flex flex-column justify-content-between pr-0">
                        <div echarts class="demo-chart" [options]="incomeoptions" (chartClick)="onChartClick($event)" ></div>
                      </div>
                    <div class="col-md-9">
                        <div class="row">
                          <div class="col-12 ">
                            <div class="col-md-12">
                               
                                <span class="cost-txt ">Total Project(s) Cost </span>
                            </div>
                            <div class="col-md-12">
                                <span class="total-cost-val">{{234534223 | formatCurrency}} </span>
                            </div>
                          </div>
                        
                        </div><hr>
                        <div class="row">
                            <div class="col-6 ">
                                <div class="col-md-12">
                                  
                                    <span class="cost-txt ">Total Income </span>
                                </div>
                                <div class="col-md-12">
                                    <span class="cost-val">{{234534223 | formatCurrency}} </span>
                                </div>
                                
                            </div>                                                              
                            <div class="col-6 ">
                                <div class="col-md-12">
                                    
                                    <span class="cost-txt ">Total Expense </span>
                                </div>
                                <div class="col-md-12">
                                    <span class="cost-val">{{234534223 | formatCurrency}} </span>
                                </div>
                              </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-6  pr-0">
                                <div class="col-md-12">  
                                    <span class="cost-txt ">Monthly Income </span><br>                                     
                                    <span class="cm-val uppercase">{{234534223 | formatCurrency}} </span>
                                    <span class="up">100 %
                                        <mat-icon>arrow_drop_up</mat-icon>
                                    </span>
                                </div>
                                <hr >
                                <div class="col-md-12">
                                    <span class="lm-val">{{65646 | formatCurrency}} </span>
                                    <span class="last-txt">(Last Month)</span>
                                </div>                                    
                            </div>                                                              
                            <div class="col-6  ">
                                <div class="col-md-12">
                                    <span class="cost-txt ">Monthly Expense </span><br>
                                    <span class="cm-val uppercase">{{234534223 | formatCurrency}} </span>
                                    <span  class="down">100 %
                                        <mat-icon>arrow_drop_down</mat-icon>
                                    </span>
                                </div>
                                <hr >
                                <div class="col-md-12">
                                    <span class="lm-val">{{234534223 | formatCurrency}} </span>
                                    <span class="last-txt">(Last Month)</span>
                                </div>
                              </div>
                          </div>
                      </div>
                </div>
               
            </mat-card-content>
            </mat-dialog-content>
        </mat-card>
      </div>
    </div>
    <div class="row mb-3" >
        <div class="col-md-6 wrapper pr-0">
          <mat-card>  
              <mat-dialog-content class="mat-typography">
              <mat-card-content class="pad-0">
                  <div class="load-wrap" *ngIf="isLoading">
                      <app-loader [IsLoading]="isLoading"></app-loader>
                  </div>
                  <div class="wrapper" >
                    
                    <div echarts class="expense-chart" [options]="expenseoption" (chartClick)="onChartClick($event)" ></div>
                   
                  </div>
              </mat-card-content>
              </mat-dialog-content>
          </mat-card>
        </div>
        <div class="col-md-3 wrapper pr-0 ">
          <mat-card class=" h-100 scrollable-div">  
              <mat-dialog-content class="mat-typography">
              <mat-card-content class="pad-0">
                  <div class="load-wrap" *ngIf="isLoading">
                      <app-loader [IsLoading]="isLoading"></app-loader>
                  </div>
                  <div class="row align-items-center no-scroll pb-0 m-0">
                    <div class="col">
                      <h5 class="m-0 gph-head">Recent Project(s)</h5>
                    </div>
                    <div class="col-auto">
                        <button color="primary" mat-icon-button aria-label="Example icon button with a open in new tab icon">
                            <mat-icon class="wd-auto">visibility</mat-icon>
                          </button>
                          
                    </div>
                  </div>
                  <div class="wrapper" >  
                    
                      <hr class="pad-0 m-0">                        
                    <mat-card *ngFor="let project of projects">                                      
                        <mat-card-content class="p-3 mb-0 pb-0 mt-0 pt-0">
                            <span class="opacity-50 pr-0 fs-08">Project Name</span>
                            <h6 class="mb-0">{{project.name}}</h6>
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="opacity-50 pr-0 fs-08">Duration(In Months)</span>
                                    <h6>24</h6>
                                </div>
                                <div class="col-md-6">
                                    <span class="opacity-50 pr-0 fs-08">Cost</span>
                                    <h6>{{project.cost}}</h6>
                                </div>
                            </div> 
                            <hr class="ps-0 mt-0">                               
                        </mat-card-content>                                    
                    </mat-card>
                  </div>
              </mat-card-content>
              </mat-dialog-content>
          </mat-card>
        </div>
        <div class="col-md-3 wrapper">
            <mat-card class=" ht-100">  
                <mat-dialog-content class="mat-typography">
                <mat-card-content class="pad-0">
                    <div class="load-wrap" *ngIf="isLoading">
                        <app-loader [IsLoading]="isLoading"></app-loader>
                    </div>
                    <div class="wrapper" >                        
                        <div echarts  [options]="letterStatusOption" class="demo-chart"></div>
                    </div>
                </mat-card-content>
                </mat-dialog-content>
            </mat-card>
          </div>
      </div>
    
    
    <div class="row mb-3">
      <div class="col-md-12 wrapper ">
        <mat-card>  
            <mat-dialog-content class="mat-typography">
            <mat-card-content class="pad-0">
                <div class="load-wrap" *ngIf="isLoading">
                    <app-loader [IsLoading]="isLoading"></app-loader>
                </div>
                <div class="wrapper" >
                  
                  <div echarts class="letter-chart" [options]="options" (chartClick)="onChartClick($event)" ></div>
                 
                </div>
            </mat-card-content>
            </mat-dialog-content>
        </mat-card>
      </div>
     
    </div>
  
    <!-- Row 3: 1 full-width column -->
    <div class="row mb-3">
        <div class="col-md-3 wrapper pr-0">
            <mat-card class="ht-100">  
                <mat-dialog-content class="mat-typography">
                <mat-card-content class="pad-0">
                    <div class="load-wrap" *ngIf="isLoading">
                        <app-loader [IsLoading]="isLoading"></app-loader>
                    </div>
                    <div class="" > 
                        <div class="row align-items-center ps-3">
                            <div class="col">
                              <h5 class="m-0 gph-head">Total EOT</h5>
                            </div>
                            <div class="col-auto">
                                <button color="primary" mat-icon-button aria-label="Example icon button with a open in new tab icon">
                                    <mat-icon class="wd-auto">visibility</mat-icon>
                                  </button>
                                  
                            </div>
                          </div>
                          <hr class="pad-0 m-0">                   
                        <div echarts  [options]="eotoption" class="demo-chart"></div>
                    </div>
                </mat-card-content>
                </mat-dialog-content>
            </mat-card>
          </div>
          <div class="col-md-3 wrapper pr-0">
            <mat-card class=" ht-100">  
                <mat-dialog-content class="mat-typography">
                <mat-card-content class="pad-0">
                    <div class="load-wrap" *ngIf="isLoading">
                        <app-loader [IsLoading]="isLoading"></app-loader>
                    </div>
                    <div class="" >    
                        <div class="row align-items-center ps-3">
                            <div class="col">
                              <h5 class="m-0 gph-head">Total COS</h5>
                            </div>
                            <div class="col-auto">
                                <button color="primary" mat-icon-button aria-label="Example icon button with a open in new tab icon">
                                    <mat-icon class="wd-auto">visibility</mat-icon>
                                  </button>
                            </div>
                          </div>
                          <hr class="pad-0 m-0">                    
                        <div echarts  [options]="cosoption" class="demo-chart"></div>
                    </div>
                </mat-card-content>
                </mat-dialog-content>
            </mat-card>
          </div>
          <div class="col-md-3 wrapper pr-0">
            <mat-card class=" ht-100">  
                <mat-dialog-content class="mat-typography">
                <mat-card-content class="pad-0">
                    <div class="load-wrap" *ngIf="isLoading">
                        <app-loader [IsLoading]="isLoading"></app-loader>
                    </div>
                    <div class="" >    
                        <div class="row align-items-center ps-3">
                            <div class="col">
                              <h5 class="m-0 gph-head">Employee(s)</h5>
                            </div>
                            <div class="col-auto">
                                <button color="primary" mat-icon-button aria-label="Example icon button with a open in new tab icon">
                                    <mat-icon class="wd-auto">visibility</mat-icon>
                                  </button>
                            </div>
                          </div>
                          <hr class="pad-0 m-0">                    
                        <div echarts [options]="employeeOption" class="demo-chart"></div>
                    </div>
                </mat-card-content>
                </mat-dialog-content>
            </mat-card>
          </div>
          <div class="col-md-3 wrapper ">
            <mat-card class=" h-100 scrollable-div">  
               
                <mat-card-content class="pad-0">
                    <div class="load-wrap" *ngIf="isLoading">
                        <app-loader [IsLoading]="isLoading"></app-loader>
                    </div>
                    <div class="row align-items-center no-scroll pb-0 m-0">
                      <div class="col">
                        <h5 class="m-0 gph-head">Recent Vehicle</h5>
                      </div>
                      <div class="col-auto">
                          <button color="primary" mat-icon-button aria-label="Example icon button with a open in new tab icon">
                              <mat-icon class="wd-auto">visibility</mat-icon>
                            </button>
                            
                      </div>
                    </div>
                    <div class="wrapper" >  
                      
                        <hr class="pad-0 m-0">                        
                      <mat-card *ngFor="let veh of vehicles">                                      
                          <mat-card-content class="p-3 mb-0 pb-0 mt-0 pt-0">
                             
                              <div class="row">
                                <div class="col-md-4 pr-0">
                                    <span class="opacity-50 fs-08">Vehicle Name</span>
                                    <h6>{{veh.name}}</h6>
                                </div>
                                  <div class="col-md-4 pr-0">
                                      <span class="opacity-50 fs-08">Project Code</span>
                                      <h6>{{veh.projectcode}}</h6>
                                  </div>
                                  <div class="col-md-3 text-end pr-0">
                                      <span class="opacity-50 fs-08">Running</span>
                                      <h6>{{veh.km}} km.</h6>
                                  </div>
                              </div> 
                              <hr class="ps-0 mt-0">                               
                          </mat-card-content>                                    
                      </mat-card>
                    </div>
                </mat-card-content>
               
            </mat-card>
          </div>
    </div>
  
    <!-- Row 4: 2 columns, 6 + 6 -->
    <div class="row mb-3">
      <div class="col-md-6 ">
        <mat-card class=" ht-100">  
            <mat-dialog-content class="mat-typography">
            <mat-card-content class="pad-0">
                <div class="load-wrap" *ngIf="isLoading">
                    <app-loader [IsLoading]="isLoading"></app-loader>
                </div>
                <div class="wrapper" >                         
                    <div echarts  [options]="progressoption" class="demo-chart"></div>
                </div>
            </mat-card-content>
            </mat-dialog-content>
        </mat-card>
      </div>
   
    </div>
</div>
  
