<div class="dialog" >
    <mat-card *ngIf="!deleteCircular">
        <mat-card-title class="card-title">{{title}}
          
            <button mat-mini-fab class="popup-close-btn" mat-dialog-close>
                <mat-icon>close</mat-icon>
              </button>
        </mat-card-title>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <form [formGroup]="circularForm" (submit)="submit()">
                    <div class="row control-div">
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Title</mat-label>
                                <input matInput formControlName="title">
                                <mat-error>Please enter First Name.</mat-error>
                            </mat-form-field>
                        </div>    
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                                <mat-label>Publish Date</mat-label>
                                <input matInput  formControlName="publishDate" [matDatepicker]="publishDate">
                                
                                <mat-datepicker-toggle matIconSuffix [for]="publishDate"></mat-datepicker-toggle>
                                <mat-datepicker #publishDate></mat-datepicker>
                              </mat-form-field>
                        </div>  
                                        
                        <div class="col-md-4">
                            <app-file-uploader title="Attachment"></app-file-uploader>
                        </div>
                        <div class="col-md-12">                           
                              <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea formControlName="description" matInput></textarea>
                              </mat-form-field>
                        </div> 
                        <div class="col-md-12 button-row" align="right">
                                <button class="cancel-btn" mat-stroked-button mat-dialog-close color="default">Cancel</button>
                                <button class="submit-btn" mat-flat-button [disabled]="!circularForm.valid" color="primary">
                                    {{isEdit?'Update':'Submit'}}</button>
                        </div>
                        
                    </div>
                    
                </form>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="deleteCircular">      
        <mat-card-title class="card-title d-flex justify-content-center" >
            <mat-icon>warning</mat-icon><span>{{title}}</span>
        </mat-card-title>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <mat-dialog-content>
                    <span class="mat-typography alert-content">
                        Are you sure you want to delete <span class="vw-lbl">{{circularForm.controls['name'].value}}</span> ?. This operation can
                        not be un-done once performed sucessfully.
                    </span>
                </mat-dialog-content>
                <mat-dialog-actions align="center">
                    <div class="control-div">
                        <button class="delete-btn" mat-raised-button (click)="delete()" color="primary">
                            Delete
                        </button>
                        <button class="cancel-btn" mat-stroked-button color="default" mat-dialog-close>
                            Cancel
                        </button>
                    </div>
                </mat-dialog-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>
