.add-on {
    width: 10%;
    padding: 0px !important;
}
.w-1{
    width: 1%;
}
.w-9{
    width: 9%; 
}
.sun{
    padding: 0px 4px 1px 4px;
    border: 2px solid #9c5b00;
    border-radius: 9px;
    background-color: #fcd6a1;
    margin-right: 4px;
}
.nt{
    padding: 0px 4px 1px 4px;
    border: 2px solid #cfcfcf;
    border-radius: 9px;
    background-color: #636363;
    color: white;
}