<div class="dialog">
  <mat-card>
    <h3 mat-dialog-title class="justify-content-between align-items-center"> Invoice(s)
      <button class="popup-close-btn float-end" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </h3>
    <mat-dialog-content>
      <mat-card-content>
        <div class="load-wrap" *ngIf="isLoading">
          <app-loader [IsLoading]="isLoading"></app-loader>
        </div>
        <div class="wrapper" *ngIf="!isLoading">

          <div class="mat-elevation-z8">
            <div class="row col-md-12 sticky-header ">
              <div class="col-md-9">
                <app-search-bar-controls (OnAnyChange)="filterChange($event)" [isAny]="true"
                  searchByAnyPlaceholder="Invoice Number"></app-search-bar-controls>
              </div>

            </div>

            <div class="mat-elevation-z8 ">
              <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

                <ng-container matColumnDef="serial">
                  <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                  <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
                </ng-container>

                <ng-container matColumnDef="invno">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Number </th>
                  <td mat-cell *matCellDef="let row"> {{row.number}} </td>
                </ng-container>
                <ng-container matColumnDef="month">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Month </th>
                  <td mat-cell *matCellDef="let row"> {{getMonthAndYear(row.monthandyear).month}} </td>
                </ng-container>
                <ng-container matColumnDef="year">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                  <td mat-cell *matCellDef="let row"> {{getMonthAndYear(row.monthandyear).year}} </td>
                </ng-container>
                <!-- con_personName Column -->
                <ng-container matColumnDef="view">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice </th>
                  <td mat-cell *matCellDef="let row">
                    <app-view-btn (clickEvent)="details(row)"></app-view-btn>
                  </td>
                </ng-container>
                <ng-container matColumnDef="releaseview">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Released </th>
                  <td mat-cell *matCellDef="let row">
                    <app-view-btn (clickEvent)="releasedetails(row)"></app-view-btn>
                  </td>
                </ng-container>
                <!-- con_personName Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                  <td mat-cell *matCellDef="let row">
                    <app-delete-btn [state]="row" [routerLink]="['/invoice/delete',row.id]"></app-delete-btn>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell no-data-cell" attr.colspan="{{ displayedColumns.length }}">
                    No Invoice(s) found at this moment.</td>
                </tr>
              </table>
              <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pagination" showFirstLastButtons>
              </mat-paginator>
            </div>

          </div>
        </div>
      </mat-card-content>
    </mat-dialog-content>
  </mat-card>
</div>