<div class="dialog">
    <mat-card>
        <h3 mat-dialog-title class="justify-content-between align-items-center"> Employees
            <button class="popup-close-btn float-end" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button> 
        </h3>
        <mat-dialog-content class="mat-typography">
        <mat-card-content>
          
              <div class="row content-center">
                <div class="col-md-8">
                  <span class="sub-heading">{{title}} : {{titleValue}}</span>                  
                </div>       
                <div class="col-md-4 d-flex justify-content-end">
                    <mat-form-field>
                        <mat-icon matPrefix>search</mat-icon>
                        <mat-label>Name / Code / Email / Phone No.</mat-label>
                        <input matInput (keyup)="filterChange($event)"  #input>
                      </mat-form-field>  
                </div>
              </div>
              <app-empty-table-skltn *ngIf="isLoading"></app-empty-table-skltn>
             <div *ngIf="!isLoading" class=" mat-elevation-z8"> 
                <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
              
                  <ng-container matColumnDef="serial">
                    <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                    <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
                  </ng-container>
                    <ng-container matColumnDef="code">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
                    </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="designation">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
                    <td mat-cell *matCellDef="let row"> {{row.designation}} </td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let row"> {{row.type}} </td>
                  </ng-container>
                  <ng-container matColumnDef="jdate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Joining Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.joiningdate | formatDate}} </td>
                  </ng-container>
                  <ng-container matColumnDef="emailid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let row"> {{row.emailid}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="phonenumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                    <td mat-cell *matCellDef="let row"> {{row.phonenumber}} </td>
                  </ng-container>
                  
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell no-data-cell"  attr.colspan="{{ displayedColumns.length }}">
                      No Employee(s) found at this moment.</td>
                  </tr>
                </table>
              </div>
        </mat-card-content>
        </mat-dialog-content>
    </mat-card>
</div>