<div class="container">
    <mat-card>
        <mat-card-title class="report-mat-card-title">
            <h5>Other Income
                <button  class="title-btn float-end no-print" routerLink="oi-create"   type="button"  mat-mini-fab color="primary">
                    <mat-icon>add box</mat-icon> 
                </button>
    
              </h5>
        </mat-card-title>
        <mat-card-content>
          <div class="load-wrap" *ngIf="isLoading">
            <app-loader [IsLoading]="isLoading"></app-loader>
        </div>
        <div class="wrapper" *ngIf="!isLoading"> 
            <table mat-table [dataSource]="dataSource" >
              
                <ng-container matColumnDef="serial">
                  <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                  <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
                  <td mat-footer-cell *matFooterCellDef colspan="2"> Total </td>
                </ng-container> 
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>
              
                  <!-- contractName Column -->
                  <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef >	Amount. </th>
                    <td mat-cell *matCellDef="let row"> {{row.amount | formatCurrency}} </td>
                    <td mat-footer-cell *matFooterCellDef > {{getTotalAmount() | formatCurrency}} </td>
                  </ng-container>       
                 
                  <ng-container matColumnDef="action">
                    <th mat-header-cell class="no-print" *matHeaderCellDef > Action </th>
                    <td mat-cell class="no-print"  *matCellDef="let row"> 
                      <div class="button-row">                    
                   <app-edit-btn [state]="row" [routerLink]="['oi-edit']" ></app-edit-btn>  
                   <app-delete-btn [state]="row" [routerLink]="['oi-delete']" ></app-delete-btn> 
                  </div>
                </td>
                <td mat-footer-cell class="no-print"  *matFooterCellDef> </td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="dataColumn"></tr>
                <tr mat-row *matRowDef="let row; columns: dataColumn;"></tr>  
                <tr mat-footer-row *matFooterRowDef="footerColumns"></tr>                         
              </table>
        </div>
    
        </mat-card-content>
    </mat-card>
    </div>