
.sub-heading{
    font-size: 2rem;    
    font-weight: 640;
    letter-spacing: -1px;
}

.vw-8rem{
    width: 8rem;
}
.vw-10rem{
    width: 10rem;
}
.vw-5rem{
    width: 5rem;
}
.vw-7rem{
    width: 7rem;
}
