<div class="container">
  <mat-card class="no-print">
    <mat-card-content>
      <div class="wrapper">

        <div class="mat-elevation-z8">
          <div class="row justify-content-between">
            <div class="col-md-4">
              <app-month-and-year-picker (onValueChange)="dateChange($event)"></app-month-and-year-picker>
            </div>
            <!-- <div class="no-print content-center control-div container">
                          <div class="button-row ">
                          <app-download-pdf (clickEvent)="printPdf()" ></app-download-pdf> 
                          </div>                 
                      </div> -->
            <div class="col-md-2 content-center">
              <app-download-pdf class="me-4" [loading]="isPdfGenerating" (clickEvent)="printPdf()"></app-download-pdf>
              <button class="submit-btn" type="button" [routerLink]="['/vehicles']" mat-flat-button color="primary">
                Back
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr class="mt-0">
      <div class="load-wrap" *ngIf="isLoading">
        <app-loader [IsLoading]="isLoading"></app-loader>
      </div>
      <div #pdfContent id="pdfContent">
        <div class="row">
          <h5 class="sub-heading content-center">Vehicle Log</h5>
        </div>
        <div class="heading report-head">
          <div class="control-div">
            <span class="report-heading">Vehicle Number : {{vehicle?.number}}</span>
            <span class="report-heading float-end">Date : {{ todayDate | formatDate}}</span>
          </div>
          <div class="report-heading control-div">Vehicle Name : {{vehicle?.name}}</div>
        </div>
        <div *ngIf="!isLoading" class="table-responsive">
          <table class="table table-bordered invoice-table">

            <thead class="text-center">
              <tr>
                <th rowspan="2">Date</th>
                <th rowspan="2">Employees</th>
                <th colspan="2">Reading of Meter</th>
                <th rowspan="2">Distance Covered<br>(Km)</th>
                <th colspan="2">Period Of Use<br>(HH:mm)</th>
                <th rowspan="2">Place Visited and Purpose of visit</th>
              </tr>
              <tr>
                <th>Initial (Km)</th>
                <th>End (Km)</th>
                <th>From</th>
                <th>To</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let row of logData">
                <td>{{row.useddate | formatDate}}</td>
                <td>{{row.employees.join(', ')}}</td>
                <td>{{row.initialreading| number:'1.2-2'}}</td>
                <td> {{row.endreading | number:'1.2-2'}}</td>
                <td>{{(row.endreading-row.initialreading) | number:'1.2-2'}}</td>
                <td>{{row.fromtime}}</td>
                <td>{{row.totime}}</td>
                <td>{{row.purposeandplace}} </td>
              </tr>

            </tbody>

            <tfoot>
              <tr class="fw-bold">
                <td colspan="4" class="text-end">Total :</td>
                <td>{{(getTotalKm() | number:'1.2-2' )+' Km'}}</td>
                <td colspan="3"></td>
              </tr>
            </tfoot>

          </table>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
