<div class="row col-md-12">
    <div class="col-md-4">
        <mat-form-field class="example-full-width">
            <mat-label>Label Text</mat-label>
            <input  (keyup)="change($event)" matInput>           
        </mat-form-field>
    </div>
    <div class="col-md-8" vertical-align="middle">
            <span>  The Label value define here will become the text header for the field. If require is checked then field become compulsory to provide input for visitor otherwise it will be optional.</span>
      
    </div>
</div>