<div class="dialog" >
    <mat-card *ngIf="!deleteVehicle">        
        <h3 mat-dialog-title class="justify-content-center">{{title}}</h3>
        <mat-dialog-content class="mat-typography">
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <!-- <form [formGroup]="organizationForm" > -->
                <form [formGroup]="vehicleForm" (submit)="submit()">
                    <div class="row control-div">
                        <div class="col-md-4" *ngIf="!isProject">                           
                            <app-project-control (onValueChange)="projectChange($event)"
                            [defaultValue]="vehicleForm.get('projectid')?.value" ></app-project-control>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>BOQ</mat-label>
                                <input matInput formControlName="boqId">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 

                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Vehicle Name</mat-label>
                                <input matInput formControlName="name">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Vehicle Number</mat-label>
                                <input matInput formControlName="number">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Fixed Km</mat-label>
                                <input type="number" matInput formControlName="fixedkm">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 

                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>KM Per Liter</mat-label>
                                <input type="number" matInput formControlName="kmperliter">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Fuel Price</mat-label>
                                <input type="number" matInput formControlName="fuelprice">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Fixed Bill Amount</mat-label>
                                <input type="number" matInput formControlName="fixedbillamount">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 

                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Extra Amount Per KM After Fixed KM</mat-label>
                                <input type="number" matInput formControlName="extraamountafterfixedkm">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Bank Name</mat-label>
                                <input matInput formControlName="bankname">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Account Holder Name</mat-label>
                                <input matInput formControlName="accountholdername">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 

                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Account Number</mat-label>
                                <input type="number" matInput formControlName="accountnumber">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Mobile Number</mat-label>
                                <input type="number" matInput formControlName="mobilenumber">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>IFSC Code</mat-label>
                                <input matInput formControlName="ifsccode">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>PAN Crad</mat-label>
                                <input matInput formControlName="pancard">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>GST Number</mat-label>
                                <input matInput formControlName="gstnumber">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-8">
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <textarea rows="1" matInput formControlName="address"></textarea>
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="row col-md-12" *ngIf="!isEdit">
                            <div class="col-md-10 ">  
                                <span class="sub-heading control-div ">Vehicle Document(s)</span>
                            </div>
                            <div class="col-md-2">
                                <div  class="table-title-row float-end">                               
                                    <div class="button-row">                                  
                                    <button mat-icon-button type="button" matTooltip="New Document" (click)="addDocControls()">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>     
                                </div>
                                </div>
                            </div>  
                            <hr>
                            <div class="wrapper" formArrayName="files">
                                <div *ngFor="let item of files.controls; let i = index" [formGroupName]="i">
                                    <div class="col-md-12 row control-div">
                                    <div class="col-md-12">                       
                                    <app-attach-file  (onfileUpload)="fileUploded($event,i)" [showRemove]="i !== 0" (clickEvent)="removeDocControl(i)" (textChanged)="onDocNameUpdate($event,i)" Uploadtitle="Document" ></app-attach-file>
                                    </div>                            
                                </div>
                            </div>
                       </div>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="row control-div">
            <div class=" button-row" align="right">
                  <button class="cancel-btn" mat-stroked-button mat-dialog-close color="default">Cancel</button>
                  <app-submit-load-btn  [isClicked]="isBtnClicked" [isValid]="vehicleForm.valid || isBtnClicked"
                  text=" {{isEdit?'Update':'Submit'}}" ></app-submit-load-btn>
          </div>
          </div>
      </mat-dialog-actions>
    </mat-card>
    <mat-card *ngIf="deleteVehicle">      
        <mat-card-title class="card-title d-flex justify-content-center" >
            <mat-icon>warning</mat-icon><span>{{title}}</span>
        </mat-card-title>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <mat-dialog-content>
                    <span class="mat-typography alert-content">
                        Are you sure you want to delete <span class="vw-lbl">{{vehicleForm.controls['name'].value}}</span> ?. This operation can
                        not be un-done once performed sucessfully.
                    </span>
                </mat-dialog-content>
                <mat-dialog-actions align="center">
                    <div class="control-div">
                        <button class="delete-btn" mat-raised-button (click)="delete()" color="primary">
                            Delete
                        </button>
                        <button class="cancel-btn" mat-stroked-button color="default" mat-dialog-close>
                            Cancel
                        </button>
                    </div>
                </mat-dialog-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>
