<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login #7</title>
  </head>
  <body>
  

  
  <div class="content">
    
      <div class="row w-100">
        <div class="col-md-7 p-0 img-content">
          <img src="assets/images/internal/login-banner.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-5 content-data" >
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 login ">
              <div class="mb-4 content-center">
               <img src="assets/images/internal/logo.png" height="90" width="90" alt="Image" class="img-fluid">
            </div>
            <div *ngIf="!isForgotPassword">
              <div class="mb-6">
                <h3 class="">Hi, Welcome back!</h3>
                <p class="mb-4 p-text">Let’s get you signed in.</p>
              </div>
              <form [formGroup]="loginform" (submit)="submit()">
                <div class="form-group first mb-2">
               
                  <mat-form-field appearance="outline">
                        <mat-label class="lbl">Email Id</mat-label>
                        <input matInput formControlName="username">
                        <mat-error>Please provide Email Id.</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group last mb-2">
                  
                  <mat-form-field appearance="outline">
                        <mat-label class="lbl">Passowrd</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-error>Please provide Password.</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group  mb-4">
                  <a class="float-end f-pass" (click)="onForgotPassword()">Forgot Password ?</a>
                </div> <br>
               
                <div class=" d-flex justify-content-center align-items-center">
                  <!-- <input type="submit" value="Log In" class="btn btn-block btn-primary"> -->
                  <app-submit-load-btn class="login-btn"  [isClicked]="isBtnClicked" [isValid]="loginform.valid || isBtnClicked"
                    text="Log In" ></app-submit-load-btn>
                </div>
              </form>
            </div>
            </div>
          </div>
          
        </div>
        
      </div>
    
  </div>

  </body>
</html>