.log-btn{
    color: #013793 !important;
    height: 30px !important;
    width: 30px !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.action-col{
    width: 13%;
}