<div class="dialog">
    <mat-card>
        <h3 mat-dialog-title class="justify-content-between align-items-center"> Reading Images 
            <button class="popup-close-btn float-end" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button> 
        </h3> 
      <mat-card-content class="pb-0">
        <div class="load-wrap" *ngIf="isLoading">
            <app-loader [IsLoading]="isLoading"></app-loader>
        </div>
        <div *ngIf="!isLoading">  
            <div class="wrapper row mb-4">
               
                <div class="col-md-6 text-center">
                    
                    <div class="card">
                        <div  class="card-header fw-bold">
                            Start 
                        </div>
                        <div  class="image-container">
                            <img  [src]="startReading" 
                            class="fixed-img" alt="No Start Reading image found">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="card">
                        <div class="card-header fw-bold">
                            End 
                        </div>
                        
                        <div class="image-container">
                            <img [src]="endReading" class="fixed-img" alt="No End Reading image found">
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        </mat-card-content>
    </mat-card>
</div>
