<!-- <div class="container regular-header">
    <div class="row">
     <div class="col-md-3">
        <span>Title</span>
     </div>
     <div class="col-md-9">
        <div class="float-end">
            <mat-card>
                <mat-card-content>
                   <div class="row">
                    <mat-form-field class="col-md-10" appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        
                      </mat-form-field>
                    <button mat-icon-button class="col-md-2">
                        <mat-icon>logout</mat-icon>
                    </button>
                   </div>
                </mat-card-content>
            </mat-card>

        </div>
     </div>

    </div>
</div> -->
<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <div>
        <!-- <app-bread-crum></app-bread-crum> -->
        <span class="page-title">{{pageTitle}}</span>
        <span class="example-spacer"></span>
      </div>

    
    <div class="float-end wrapper">
      <mat-card class="ht-100">        
        <mat-card-content class="pad-0">
          <div class="row justify-content-center">
            <!-- <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
             
            </mat-form-field> -->
            <button mat-icon-button (click)="logout()" class="example-icon favorite-icon float-end" aria-label="Example icon-button with heart icon">
              <mat-icon>logout</mat-icon>
            </button>
            <button mat-icon-button class="example-icon float-end" aria-label="Example icon-button with share icon">
              <mat-icon>notifications</mat-icon>
            </button>
          </div>         
        </mat-card-content>      
      </mat-card>      
    </div>  
  </mat-toolbar>