.mat-toolbar {
    justify-content: space-between;
}
.mat-mdc-card-content:last-child {
    padding-bottom: 0px;
}
.example-spacer {
    flex: 1 1 auto;
  }
.page-title{
    font-weight: 800;
    font-size: 1.8rem;
    letter-spacing: -0.5px;
    line-height: 43px;
    background-color: #27388b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}