.mat-toolbar {
    justify-content: space-between;
}
.mat-mdc-card-content:last-child {
    padding-bottom: 0px;
}
.example-spacer {
    flex: 1 1 auto;
  }
.page-title{
    font-weight: 800;
    font-size: 1.8rem;
    letter-spacing: -0.5px;
    line-height: 43px;
    background-color: #27388b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.mat-mdc-card{
    padding: 0.3em 0.7em 0.3em 0.7em;
    border-radius: 14px;
}
.mat-mdc-form-field-bottom-align{
    min-height: 0  !important;
}

  
  /* Push the right side content to the right */
  .spacer {
    flex: 1 1 auto;
  }
  :host ::ng-deep .mat-mdc-form-field-subscript-wrapper{
    height: 3px !important;
  }
  .pr-rt{
    margin-right: 10px;
    width: 30%;
  }
 ::ng-deep .profile-menu{
      border-radius: 10px !important;
      padding: 10px !important;
      background-color: white !important;
}
.br-10{
  border-radius: 10px;
}
.mat-mdc-menu-item:hover mat-icon{
  color: white !important;
}
