<!-- <div class="container regular-header">
    <div class="row">
     <div class="col-md-3">
        <span>Title</span>
     </div>
     <div class="col-md-9">
        <div class="float-end">
            <mat-card>
                <mat-card-content>
                   <div class="row">
                    <mat-form-field class="col-md-10" appearance="outline">
                        <mat-label>Outline form field</mat-label>
                        <input matInput placeholder="Placeholder">
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        
                      </mat-form-field>
                    <button mat-icon-button class="col-md-2">
                        <mat-icon>logout</mat-icon>
                    </button>
                   </div>
                </mat-card-content>
            </mat-card>

        </div>
     </div>

    </div>
</div> -->
<mat-toolbar >
  <!-- <app-bread-crum></app-bread-crum> -->
  <span class="page-title">{{pageTitle}}</span>

  <span class="spacer"></span>

  <!-- Controls on the right -->
  <div *ngIf="showProject" class="wrapper pr-rt" >
  <mat-card class="ht-100 pad-0" >        
    <mat-card-content class="pad-0 ">
      <app-project-control [defaultValue]="" [isAllLabel]="true" style="padding: 0px 0px 0px 0.7em;" (onValueChange)="projectChange($event)" [required]="false" ></app-project-control>
    </mat-card-content>
  </mat-card>
  </div>
  <div class="wrapper">
  <mat-card class="ht-100">        
    <mat-card-content class="pad-0">
      <div class="row d-flex justify-content-center">
        <button mat-icon-button class="example-icon float-end" aria-label="Example icon-button with share icon">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Profile">
      <mat-icon>account_circle</mat-icon>
    </button>

    <!-- Menu definition -->
    <mat-menu class="profile-menu" #profileMenu="matMenu">
      <button mat-menu-item class="br-10" [routerLink]="'/my-profile'">
        <mat-icon class="hover-icon" >person</mat-icon>
        <span>My Profile</span>
      </button>
      <hr class="m-0">
      <button mat-menu-item class="br-10" (click)="logout()">
        <mat-icon class="hover-icon">logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
      </div>         
    </mat-card-content>      
  </mat-card>
  </div>
  <!-- <button mat-button>Login</button>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button> -->
</mat-toolbar>

<!-- <mat-toolbar>
    
      <div>
        
        <span class="page-title">{{pageTitle}}</span>
        
      </div>
      <div class="float-end wrapper" style="width:30%">
      
              <mat-card class="ht-100 pad-0" >        
                <mat-card-content class="pad-0 ">
                  <app-project-control [defaultValue]="" [isAllLabel]="true" style="padding: 0px 0px 0px 0.7em;" (onValueChange)="projectChange($event)" [required]="false" ></app-project-control>
                </mat-card-content>
              </mat-card>
           
      </div>
    
    <div class="float-end wrapper">
      <mat-card class="ht-100">        
        <mat-card-content class="pad-0">
          <div class="row d-flex justify-content-center">
            
            <button mat-icon-button (click)="logout()" class="example-icon favorite-icon float-end" aria-label="Example icon-button with heart icon">
              <mat-icon>logout</mat-icon>
            </button>
            <button mat-icon-button class="example-icon float-end" aria-label="Example icon-button with share icon">
              <mat-icon>notifications</mat-icon>
            </button>
          </div>         
        </mat-card-content>      
      </mat-card>      
    </div>  
  </mat-toolbar> -->