<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="load-wrap" *ngIf="isLoading">
        <app-loader [IsLoading]="isLoading"></app-loader>
      </div>
      <div *ngIf="!isLoading">
        <div class="mat-elevation-z8">
          <div class="table-title-row">
            <div class="row content-center">
              <div class="col-md-10">
                <app-search-bar-controls [isSubCompany]="true" [isRelatedTo]="true" [isDateRange]="true"
                  [isExchangeType]="true" [isGeneralStatus]="true" [isLetterType]="true" [isProjects]="true"
                  [isAny]="true" searchByAnyPlaceholder="Letter Number / From / To "
                  (OnProjectChange)="projectChange($event)" (OnLetterTypeChange)="letterTypeChange($event)"
                  (OnRelatedToChange)="relatedChange($event)" (OnExchangeTypeChange)="exchangeChange($event)"
                  (OnGeneralStatusChange)="generalChange($event)" (OnSubCompanyChange)="compChange($event)"
                  (OnAnyChange)="anyChange($event)" (OnDateRangeChange)="dateRangeChange($event)"
                  (OnClear)="clear()"></app-search-bar-controls>
              </div>
              <div class="col-md-2 button-row main-btn-row d-flex justify-content-end">
                <app-upload-btn *ngIf="pagePermissions?.canCreate" routerLink="upload-let"></app-upload-btn>
                <button *ngIf="pagePermissions?.canCreate" class="title-btn" type="button" routerLink="create" mat-mini-fab color="primary">
                  <mat-icon>add box</mat-icon> Letter
                </button>
                <app-download-csv *ngIf="pagePermissions?.canRead" (clickEvent)="export()"></app-download-csv>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="wrapper">
    <mat-card>
      <mat-card-content>
        <ng-container *ngIf="isSearchLoading || isLoading; else checkNoData">
          <app-empty-table-skltn></app-empty-table-skltn>
        </ng-container>
        <ng-template #checkNoData>
          <ng-container *ngIf="dataSource?.data?.length === 0; else showTable">
            <app-no-data message="No Letter(s) found at this moment !!"></app-no-data>
          </ng-container>
        </ng-template>
        <ng-template #showTable>
          <div class="mat-elevation-z8">
            <div class="row col-md-12">
              <div class="col-md-6">
              </div>
              <div class="col-md-6 d-flex justify-content-end pr-0">
                <app-letter-count-summary [statusCounts]="letterCount"></app-letter-count-summary>
              </div>
            </div>
            <div class="table-container">
              <table *ngIf="pagePermissions?.canRead" class="wrapper" mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

                <ng-container matColumnDef="serial">
                  <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                  <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
                </ng-container>

                <ng-container matColumnDef="letterno">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Number </th>
                  <td mat-cell *matCellDef="let row"> {{row.letternumber}} </td>
                </ng-container>
                <ng-container matColumnDef="letterdate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let row">{{row.letterdate | formatDate }} </td>
                </ng-container>
                <ng-container matColumnDef="project">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
                  <td mat-cell *matCellDef="let row">{{row.project }} </td>
                </ng-container>

                <ng-container matColumnDef="lettertype">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let row"> {{row.lettertype }} </td>
                </ng-container>
                <ng-container matColumnDef="subject">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
                  <td mat-cell *matCellDef="let row"> {{row.subject }} </td>
                </ng-container>

                <ng-container matColumnDef="from">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> From </th>
                  <td mat-cell *matCellDef="let row">{{row.letterfrom }} </td>
                </ng-container>
                <ng-container matColumnDef="to">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> To </th>
                  <td mat-cell *matCellDef="let row"> {{row.letterto }} </td>
                </ng-container>


                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                  <td mat-cell *matCellDef="let row">
                    <app-status-badge [value]="row.status" [label]="row.status"></app-status-badge>
                  </td>
                </ng-container>
                <ng-container matColumnDef="docs">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Document(s) </th>
                  <td mat-cell *matCellDef="let row">
                    <app-document-manage-btn (clickEvent)="viewdocs(row.id)"></app-document-manage-btn>
                  </td>
                </ng-container>
                <ng-container *ngIf="pagePermissions?.canUpdate || pagePermissions?.canDelete" matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                  <td mat-cell class="action-col-3" *matCellDef="let row">
                    <div class="button-row">
                      <app-view-btn *ngIf="pagePermissions?.canRead" [state]="row"
                        [routerLink]="['/letters/details',row.id]"></app-view-btn>
                      <app-edit-btn *ngIf="pagePermissions?.canUpdate" [state]="row"
                        [routerLink]="['/letters/edit',row.id]"></app-edit-btn>
                      <app-delete-btn *ngIf="pagePermissions?.canDelete" [state]="row"
                        [routerLink]="['/letters/delete',row.id]"></app-delete-btn>

                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell no-data-cell" attr.colspan="{{ displayedColumns.length }}">
                    No Letters Details found at this moment.</td>
                </tr>
              </table>
              <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="pagination"
                showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>