::ng-deep .mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
     padding: 0px !important; 
   
}
mat-form-field {
    width: 100% !important;
}

.col-md-3 {
    width: 21%;
}
.col-md-4 {
    width: 30.333333%;
}
.date-range{
    width: 23% !important;
}
.search-c-btn{
    align-self: center;
    display: inline-table;
    cursor: pointer;
    color: var(--mdc-fab-small-container-color);
    font-size: 32px;
}