<div class="container ">
    <mat-card>
        <mat-card-content class="pt-0">
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div *ngIf="!isLoading">
                <div class="no-print content-center control-div container">
                    <div class="button-row ">
                       
                        <app-download-pdf [loading]="isPdfGenerating" (clickEvent)="download()"></app-download-pdf>

                    </div>
                </div>
                <div #pdfContent id="pdfContent">
                    <div class="report-head">
                        <h5 class="sub-heading content-center">Profit & Loss</h5>
                        <hr>
                        <div class="control-div pd-1">
                            <span class="report-heading">Project : {{dataObj.project}} </span>
                            <span class="report-heading float-end"> Month-Year : {{ profitLossData?.monthandyear | date:
                                'MMMM - yyyy'}}</span>
                        </div>

                        <div class="control-div">
                            <span class="report-heading"> Income : {{dataObj.totalincome | formatCurrency}} </span>
                            <span class="report-heading float-end"> Generated Date : {{ dataObj?.generatedate |
                                formatDate}}</span>
                        </div>
                        <div class="control-div">
                            <span class="report-heading">Expense : {{dataObj.totalexpense | formatCurrency}} </span>
                            <span class="report-heading float-end"> Date : {{ today | formatDate}}</span>
                        </div>
                        <div class="control-div">
                            <span class="report-heading">
                                Net Gain/Loss :
                                <span [ngClass]="{
                                ' positive': (dataObj.totalincome - dataObj.totalexpense) > 0,
                                ' negative': (dataObj.totalincome - dataObj.totalexpense) < 0
                                }">{{(dataObj.totalincome-dataObj.totalexpense) | formatCurrency}}
                                    ({{this.dataObj.percentage}})</span>
                            </span>
                            <span class="report-heading float-end"> </span>
                        </div>
                    </div>
                    <div id="print-section" class="dialog-print  mat-elevation-z8">

                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

                            <ng-container matColumnDef="groupHeader">
                                <td mat-cell *matCellDef="let row; let i = index"
                                    [attr.colspan]="displayedColumns.length">
                                    <div class="item-center">
                                        <strong>{{ row.label }}</strong>
                                        <button class="hide-in-pdf" *ngIf="!row.label?.includes('Revenue')"
                                            mat-icon-button type="button"
                                            (click)="addControls(row,dataSource.indexOf(row))">
                                            <mat-icon>add_circle</mat-icon>
                                        </button>
                                    </div>


                                </td>
                            </ng-container>

                            <ng-container matColumnDef="totalHeader">
                                <td mat-cell class="pd-4" *matCellDef="let row" [attr.colspan]="1">
                                    <strong>{{ row.name }}</strong>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="totalcurrent">
                                <td mat-cell *matCellDef="let row">
                                    <strong> {{(row.isincome ? ' (+) ':' (-) ')+(row.actualamount |formatCurrency)
                                        }}</strong>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="totalempty">
                                <td mat-cell class="hide-in-pdf" *matCellDef="let row">
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Particulars </th>
                                <td class="w-65" mat-cell class="pd-4" *matCellDef="let row">
                                    <ng-container *ngIf="!row.isNew && !row.isEditing">
                                        {{row.srno+'. '+ row.name }}
                                    </ng-container>
                                    <ng-container *ngIf="row.isNew || row.isEditing">
                                        <mat-form-field>
                                            <mat-label>Name</mat-label>
                                            <input matInput [(ngModel)]="row.name"
                                                (ngModelChange)="onRowNameChange(row,dataSource.indexOf(row), $event)">
                                        </mat-form-field>

                                    </ng-container>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="actualamount">
                                <th class="w-25" mat-header-cell *matHeaderCellDef> Income </th>
                                <td class="w-25" mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="!row.isNew && !row.isEditing">
                                        <span> {{ row.actualamount }} </span>
                                    </ng-container>
                                    <ng-container *ngIf="row.isNew || row.isEditing">
                                        <mat-form-field>
                                            <mat-label>Amount</mat-label>
                                            <input matInput [(ngModel)]="row.actualamount"
                                                (ngModelChange)="onRowAmountChange(row,dataSource.indexOf(row), $event)">
                                        </mat-form-field>

                                    </ng-container>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th class="w-10" mat-header-cell *matHeaderCellDef class="hide-in-pdf"> Action </th>
                                <td class="w-10" mat-cell class="hide-in-pdf pl-btn" *matCellDef="let row;">
                                    <ng-container *ngIf="!row.isNew && !row.isEditing">

                                        <app-edit-btn
                                            (clickEvent)="editRow(row,dataSource.indexOf(row))"></app-edit-btn>
                                        <app-delete-btn *ngIf="row.isremovable"
                                            (clickEvent)="removeRow(row,dataSource.indexOf(row))"></app-delete-btn>

                                    </ng-container>
                                    <ng-container *ngIf="row.isNew">
                                        <app-delete-btn
                                            (clickEvent)="removeRow(row,dataSource.indexOf(row))"></app-delete-btn>
                                    </ng-container>
                                    <ng-container *ngIf="row.isEditing">

                                        <app-cancel-btn
                                            (clickEvent)="cancelEdit(row,dataSource.indexOf(row))"></app-cancel-btn>

                                    </ng-container>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="totalfooter">
                                <td mat-cell class="pd-4" *matCellDef="let row" [attr.colspan]="1">
                                    <strong>{{ row.name }}</strong>
                                </td>

                            </ng-container>
                            <ng-container matColumnDef="totalfootercurrent">
                                <td mat-cell *matCellDef="let row">
                                    <strong> {{(row.actualamount |formatCurrency) }}</strong>
                                </td>
                            </ng-container>

                            <!-- Header -->
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                            <!-- Group Row -->
                            <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup"
                                class="group-header-row"></tr>
                            <tr mat-row
                                *matRowDef="let row; columns: ['totalHeader','totalcurrent','totalempty']; when: isTotalInfo"
                                class="group-total-row"></tr>
                            <tr mat-row
                                *matRowDef="let row; columns: ['totalfooter','totalfootercurrent','totalempty']; when: isFooterInfo"
                                class="group-total-row"></tr>
                            <!-- Data Row -->
                            <tr mat-row *matRowDef="let row; columns: displayedColumns ; when: isData"></tr>
                        </table>


                    </div>
                </div>               
                <div class="row control-div">
                    <div class=" button-row" align="right">
                        <app-submit-load-btn (clickEvent)="submit()" [isValid]="true" [isClicked]="isClicked"
                            text="Save"></app-submit-load-btn>
                    </div>
                </div>
            </div>
        </mat-card-content>

    </mat-card>

</div>