@media print {
    /* ✅ Hide the dark overlay and dialog container */
  .cdk-overlay-backdrop,
  .cdk-overlay-container {
    display: none !important;
  }
    /* Hide everything by default */
    body * {
      visibility: hidden !important;
    }
  
    /* Only show print section */
    #print-section, #print-section * {
      visibility: visible !important;
    }
  
    /* Position print section properly */
    #print-section {
      position: absolute;
      top: 0;
      left: 0;
      background: white !important;
      color: black !important;
      width: 100%;
      padding: 20px;
      box-shadow: none !important;
    }
  
    /* Prevent unwanted page background */
    html, body {
      background: white !important;
    }
  
    /* Optional: Hide print button */
    .no-print {
      display: none !important;
    }
  }

  .full-width-table {
    width: 100%;
    margin-top: 20px;
  }
  
  .group-row th {
    font-weight: bold;
    background-color: #f0f0f0;
    text-align: left;
   
  }
  td {   
    border: 1px solid #dcdcdc !important;
}
::ng-deep .mat-mdc-footer-cell{
  border: 1px solid #dcdcdc !important;
}
::ng-deep .mat-mdc-cell{
  border: 1px solid #dcdcdc !important;
}

.group-header-row{
  font-size: 1.2em;
  background-color: #f0f0f0;
}
.group-total-row{
  background-color: #f7faff
}
.pd-4{
  padding-left: 4% !important;
}
.mat-mdc-table tr {
  height: 30px;
}
.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0px 12px !important;
}
.item-center{
  display: flex;
  align-items: center;
}
::ng-deep .pl-btn button {
  margin: 8px !important;
}
.w-65{
    width: 65%;
}
.w-25{
    width: 25%;
}
.w-10{
    width: 10%;
}