.template-btn{
    color: var(--mat-fab-small-foreground-color) !important ;
      background-color: var(--mdc-fab-small-container-color) !important ;
      font-size: 17px;
}

hr{
    margin-top: 3px;
    margin-bottom: 10px;
}