<div class="container">
  <mat-card>
    <mat-card-content class="pb-0">
        <div class="load-wrap" *ngIf="isLoading">
            <app-loader [IsLoading]="isLoading"></app-loader>
        </div>
        <div *ngIf="!isLoading">               
              <div class="table-title-row">
                <div class="row col-md-12   content-center">
                  <div class="col-md-11 ">
                    <div>
                      <app-search-bar-controls [isSubCompany]="true"
                       [isVehicle]="true" [isMonthAndYear]="true"
                      [isProjects]="true" [isAny]="true" searchByAnyPlaceholder="Vehicle Name / Number / Purpose"
                      (OnProjectChange)="projectChange($event)" (OnSubCompanyChange)="compChange($event)" 
                       (OnAnyChange)="anyChange($event)" 
                       (OnVehicleChange)="vehicleChange($event)" 
                       (OnMonthYearChange)="monthYearChange($event)"
                      ></app-search-bar-controls>
                    </div>  
                </div>       
                <div class="col-md-1 button-row main-btn-row d-flex justify-content-end">
                  <button class="title-btn" type="button" routerLink="create"  mat-mini-fab color="primary">
                    <mat-icon>add box</mat-icon> Vehicle Billing
                </button> 
               
                </div>
              </div>
            </div>
        </div>
    </mat-card-content>   
</mat-card>
<div class="wrapper">
    <mat-card>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isSearchLoading">
                <app-loader [IsLoading]="isSearchLoading"></app-loader>
            </div>
            <div class="wrapper" *ngIf="!isSearchLoading"> 
                <div class="mat-elevation-z8"> 
                    <app-no-data *ngIf="dataSource?.data?.length==0 && !isLoading" message="No Vehicle Billing(s) found at this moment !!" ></app-no-data>
                    <div *ngIf="dataSource?.data?.length!=0"  class="mat-elevation-z8">     
                        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>                     
                        
                          <ng-container matColumnDef="serial">
                            <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                            <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
                          </ng-container>                 
                       
                          <!-- Name Column -->
                          <ng-container matColumnDef="vehiclename">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.vehiclename}} </td>
                          </ng-container>    
                          <!-- Name Column -->
                          <ng-container matColumnDef="vehiclenum">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle No. </th>
                            <td mat-cell *matCellDef="let row"> {{row.vehicleno}} </td>
                          </ng-container>    
                          <!-- Name Column -->
                          <ng-container matColumnDef="fixeddetails">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fixed Details </th>
                            <td mat-cell *matCellDef="let row">                              
                              <table class="child-table">
                                <tr>
                                  <td>Km</td>
                                  <td class="pad-right-1 pad-left-1">:</td>
                                  <td>{{row.fixedkm}}</td>
                                </tr>
                                <tr>
                                  <td>Amount</td>
                                  <td class="pad-right-1 pad-left-1">:</td>
                                  <td>{{row.fixedamount | formatCurrency}}</td>
                                </tr>
                              </table>
                            </td>
                          </ng-container>    
                          <!-- Name Column -->
                          <ng-container matColumnDef="extraDetails">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Extra Details </th>
                            <td mat-cell *matCellDef="let row"> 
                              <table class="child-table">
                                <tr>
                                  <td>Km</td>
                                  <td class="pad-right-1 pad-left-1">:</td>
                                  <td>{{row.extrakm}}</td>
                                </tr>
                                <tr>
                                  <td>Amount</td>
                                  <td class="pad-right-1 pad-left-1">:</td>
                                  <td>{{ (row.extrakm*row.extraamountperkmafterfixedkm) |formatCurrency}}</td>
                                </tr>
                              </table>
                            </td>
                          </ng-container> 
                          <ng-container matColumnDef="extraamtkmabovefix">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Extra Amt./km </th>
                            <td mat-cell *matCellDef="let row"> {{row.extraamountperkmafterfixedkm}} </td>
                          </ng-container>    
                          <ng-container matColumnDef="totaldetails">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
                            <td mat-cell *matCellDef="let row"> 
                              <table class="child-table">
                                <tr>
                                  <td>Km</td>
                                  <td class="pad-right-1 pad-left-1">:</td>
                                  <td>{{row.extrakm + row.fixedkm}}</td>
                                </tr>
                                <tr>
                                  <td>Amount</td>
                                  <td class="pad-right-1 pad-left-1">:</td>
                                  <td>{{ (row.fixedamount+(row.extrakm*row.extraamountperkmafterfixedkm)) | formatCurrency}}</td>
                                </tr>
                              </table>
                            </td>
                          </ng-container>    
                          
                          <ng-container  matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td mat-cell class="action-col" *matCellDef="let row"> 
                              <div class="button-row">                             
                                <app-edit-btn [routerLink]="['/vehicle-billing/edit',row.id]" [state]="row" ></app-edit-btn>                              
                                <app-delete-btn [state]="row" [routerLink]="['/vehicle-billing/delete',row.id]" ></app-delete-btn>
                          </div>
                           </td>
                          </ng-container>
                        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell no-data-cell"  attr.colspan="{{ displayedColumns.length }}">
                              No Vehicle Billing(s) found at this moment.</td>
                          </tr>
                        </table>
                        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pagination" showFirstLastButtons>
                        </mat-paginator>
                      </div>                    
                      
                </div>
            </div>
        </mat-card-content>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
