<div class="container">
  <mat-card>
    <mat-card-content>
        <div class="load-wrap" *ngIf="isLoading">
            <app-loader [IsLoading]="isLoading"></app-loader>
        </div>
        <div  *ngIf="!isLoading">   
            <div class="mat-elevation-z8">   
              <div class="table-title-row">
                <div class="row col-md-12   content-center">
                  <div class="col-md-11 ">
                    <div>
                      <app-search-bar-controls [isDateRange]="true"
                      [isSubCompany]="true"
                      [isProjects]="true" [isAny]="true" searchByAnyPlaceholder="Owner Name / Phone No."
                      (OnProjectChange)="projectChange($event)"  
                       (OnAnyChange)="anyChange($event)" 
                       (OnDateRangeChange)="dateRangeChange($event)"
                       (OnSubCompanyChange)="compChange($event)"  
                       (OnClear)="clear()"
                      ></app-search-bar-controls>
                    </div>  
                </div>       
                <div class="col-md-1 button-row main-btn-row d-flex justify-content-end">
                  <button class="title-btn" *ngIf="pagePermissions.canCreate" type="button" routerLink="create"  mat-mini-fab color="primary">
                    <mat-icon>add box</mat-icon> Office Rent
                </button>   
                </div>
              </div>
            </div> 
            </div>
        </div>
    </mat-card-content>
  </mat-card>
  <div class="wrapper">
    <mat-card>
        <mat-card-content>
          <ng-container *ngIf=" isLoading || isSearchLoading; else checkNoData">
            <app-empty-table-skltn></app-empty-table-skltn>
          </ng-container>
          <ng-template #checkNoData>
            <ng-container *ngIf="dataSource?.data?.length === 0; else showTable">
              <app-no-data message="No Office Rent(s) found at this moment !!"></app-no-data>
            </ng-container>
          </ng-template>
          <ng-template #showTable>    
              <div  class="mat-elevation-z8 table-container">
                <table   mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                  <ng-container matColumnDef="serial">
                    <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                    <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
                  </ng-container>
                    <!-- contractName Column -->
                    <ng-container matColumnDef="project">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
                      <td mat-cell *matCellDef="let row"> {{row.projectname}} </td>
                    </ng-container>
                  <ng-container matColumnDef="office">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name/Location </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}}/{{row.location}} </td>
                  </ng-container>
                  <!-- contractName Column -->
                  <ng-container matColumnDef="basicamount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rent Amount </th>
                    <td mat-cell *matCellDef="let row"> {{row.totalamount |formatCurrency}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="agrdate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Agreement Date </th>
                    <td mat-cell *matCellDef="let row">
                      <table class="child-table">
                        <tr>
                          <td>Start </td>
                          <td> : </td>
                          <td> {{row.agreementstartdate | formatDate}}</td>
                        </tr>
                        <tr>
                          <td>End </td>
                          <td> : </td>
                          <td> {{row.agreementenddate | formatDate}}</td>
                        </tr>     
                      </table>
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="ownername">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.ownername}} </td>
                  </ng-container>
                  <!-- con_personName Column -->
                  <ng-container matColumnDef="mobileno">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                    <td mat-cell *matCellDef="let row"> {{row.phoneno}} </td>
                  </ng-container> 
                
                  <ng-container matColumnDef="docs">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Document(s) </th>
                    <td mat-cell *matCellDef="let row">                               
                      <app-document-manage-btn (clickEvent)="viewdocs(row.id)"></app-document-manage-btn>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td class="action-col-3" mat-cell *matCellDef="let row"> 
                      <div class="button-row"> 
                        <app-view-btn [state]="row" *ngIf="pagePermissions.canRead" [routerLink]="['/ofc-rent/view',row.id]" ></app-view-btn>                              
                        <app-edit-btn [state]="row" *ngIf="pagePermissions.canUpdate" [routerLink]="['/ofc-rent/edit',row.id]" ></app-edit-btn>                              
                        <app-delete-btn [state]="row" *ngIf="pagePermissions.canDelete" [routerLink]="['/ofc-rent/delete',row.id]"></app-delete-btn>
                      </div>
                    </td>
                  </ng-container>
                
                  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell no-data-cell"  attr.colspan="{{ displayedColumns.length }}">
                      No Office Rent(s) found at this moment.</td>
                  </tr>
                </table>
                <mat-paginator [length]="resultsLength" [pageSize]="pageSize" 
                [pageSizeOptions]="pagination" showFirstLastButtons></mat-paginator>
              </div>
              </ng-template>            
        </mat-card-content>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
