<div class="dialog" >
    <mat-card *ngIf="!deleteSiteProgress">
        <h3 mat-dialog-title class="justify-content-between align-items-center"> {{title}} 
            <button class="popup-close-btn float-end" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button> 
        </h3> 
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <form [formGroup]="siteProgressForm" (submit)="submit()">
                    <div class="row control-div">
                        <div class="col-md-6">
                            <app-month-and-year-picker (onValueChange)="dateChange($event)" ></app-month-and-year-picker>
                           
                        </div>
                     
                        <div class="col-md-6" >
                            <mat-form-field>
                                <mat-label>Submitted Physical Progress (%)</mat-label>
                                <input matInput type="number" [readonly]="isEdit ? true : null" formControlName="submittedphysicalprogress">
                                <mat-error>Please provide Physical Progress (%)</mat-error>
                            </mat-form-field>
                        </div>                     
                        <div class="col-md-6" >
                            <mat-form-field>
                                <mat-label>Submitted Financial Progress (%)</mat-label>
                                <input type="number" matInput [readonly]="isEdit ? true : null" formControlName="submittedfinancialprogress">
                                <mat-error>Please provide Financial Progress (%)</mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-6" *ngIf="isEdit">
                            <mat-form-field>
                                <mat-label>Financial Progress (%)</mat-label>
                                <input type="number"  matInput formControlName="financialprogress">
                                <mat-error>Please provide Financial Progress (%)</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" *ngIf="isEdit">
                            <mat-form-field>
                                <mat-label>Physical Progress (%)</mat-label>
                                <input type="number"  matInput formControlName="physicalprogress">
                                <mat-error>Please provide Physical Progress (%)</mat-error>
                            </mat-form-field>
                        </div>  
                        <div class="col-md-6" *ngIf="isEdit">
                            <mat-form-field>
                                <mat-label>Milestone Status</mat-label>
                                <mat-select (selectionChange)="statusChange($event)" formControlName="statusid">
                                    <mat-option  *ngFor="let field of approvalStatusList" [value]="field.id">
                                        {{field.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Please select Site Progress status</mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-6" *ngIf="!isEdit">                           
                            <app-select-search className="form-field-80" *ngIf="letterInit" 
                                        [multiple]="true"  searchPlaceholder="Search Letter" emptySearchMessage="No Letter Found"
                                        label="Submitted Letter" [defaultValue]="siteProgressForm.controls['submittedletterid'].value"
                                        (onValueChange)="letterSelect($event)" [valueArrays]="letterList">
                            </app-select-search>
                            <button mat-icon-button type="button" matTooltip="New Site Progress Letter" (click)="newLetter()">
                                <mat-icon>add_circle</mat-icon>
                              </button>                            
                        </div>  
                        <div class="col-md-6" *ngIf="isEdit">                           
                            <app-select-search className="form-field-80" *ngIf="letterInit" 
                            [multiple]="true" searchPlaceholder="Search Letter" emptySearchMessage="No Letter Found"
                                        label="Close Letter" [defaultValue]="siteProgressForm.controls['approvedletterid'].value"
                                        (onValueChange)="letterSelect($event)" [valueArrays]="letterList">
                            </app-select-search>
                            <button mat-icon-button type="button" matTooltip="New Site Progress Letter" (click)="newLetter()">
                                <mat-icon>add_circle</mat-icon>
                              </button>                            
                        </div>
                    </div>
                    <div class="row control-div">
                        <div class="col-md-12 button-row" align="right">
                            <button class="cancel-btn" mat-stroked-button mat-dialog-close color="default">Cancel</button>
                            <button [ngClass]="siteProgressForm.valid? 'submit-btn':''" mat-flat-button [disabled]="!siteProgressForm.valid" color="primary">
                                {{isEdit?'Update':'Submit'}}</button>
                        </div>
                    </div> 
                </form>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="deleteSiteProgress">      
        <mat-card-title class="card-title d-flex justify-content-center" >
            <mat-icon>warning</mat-icon><span>{{title}}</span>
        </mat-card-title>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <mat-dialog-content>
                    <span class="mat-typography alert-content">
                        Are you sure you want to delete 
                        <span class="vw-lbl">
                            {{getMonthandYear(siteProgressForm.controls['monthandyear'].value).month+ '-'+getMonthandYear(siteProgressForm.controls['monthandyear'].value).year}}
                        </span> ?. This operation can
                        not be un-done once performed sucessfully.
                    </span>
                </mat-dialog-content>
                <mat-dialog-actions align="center">
                    <div class="control-div">
                        <button class="delete-btn" mat-raised-button (click)="delete()" color="primary">
                            Delete
                        </button>
                        <button class="cancel-btn" mat-stroked-button color="default" mat-dialog-close>
                            Cancel
                        </button>
                    </div>
                </mat-dialog-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>