<!-- 
<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav mode="side" opened  >
    <div class="wrapper">
      <div class="profile">
        <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg" alt="profile_picture">
        <h3>Anamika Roy</h3>
        <p>Civil Engineer</p>
        <div class="button-row">
          <button mat-stroked-button>Profile</button>
        <button mat-stroked-button>Log Out</button>
        </div> 
          
    </div>
    </div>
    <mat-list>      
      <mat-list-item  *ngFor="let item of menuItems" 
                     [class.selected]="selectedItem === item.Text" 
                     (click)="onItemClick(item.Text)">
         <mat-icon  aria-hidden="false" aria-label="Example home icon" fontIcon="{{ item.icon }}">{{ item.icon }}</mat-icon> 
         <span id="linkText" >  {{ item.Text }} </span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button style="background-color: black;" mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <div style="padding: 20px;">
      <h2>DashBoard</h2>
      <app-dashboard></app-dashboard>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



<router-outlet /> -->

<!-- 
 
<button  translate>APP_NAME</button>
<app-notify-bar></app-notify-bar>
<app-loader [IsLoading]= "true"></app-loader>  -->

<router-outlet *ngIf="true"></router-outlet>