mat-sidenav {
    background-image: linear-gradient(to bottom right, #000000, #421159);
      width: 220px;
      border-radius: 0;
      border-width: 0px;
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    }
    .mat-mdc-list-base{
      display: contents;
    }
  
  mat-sidenav-content {
      height: 100vh;
      overflow-y: auto;
    }
    mat-list-item, .wrapper {
      border-bottom: .5px solid #13002f; /* Add a white line between items */
    }
  
    mat-list-item {
      cursor: pointer;
      transition: background-color 0.3s ease;   
      display: flex;  
      align-items: center; 
    }
  
    mat-list-item.selected {
      background-color: black;
      color: white;
    }
  
    mat-list-item:hover {
      background-color: black;
    }
  
    mat-icon{
      color: white;
    }
   
    mat-list-item span {
      color: white;  /* Change text color on hover */
    }
  
    mat-list-item:hover span {
      color: white;  /* Change text color on hover */
    }
    mat-list-item.selected span {
      color: white;  /* Change text color on hover */
    }
  
    .mat-mdc-outlined-button:not(:disabled) {
      color: #ffffff;
      border-color: #ffffff;
  }
  .button-row {
      display: inline-flex;  /* Use flexbox to align items in a row */
      gap: 16px;  /* Add space between the buttons */
    }
  
    mat-toolbar{
      
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
    }
    .mat-toolbar.mat-primary {
      --mat-toolbar-container-background-color: #000000;
      --mat-toolbar-container-text-color: white;
  }
  
    /* Profile Section */
    .wrapper{
      margin-top: 15px;
    }
    .wrapper .sidebar{
      background: rgb(5, 68, 104);
      position: fixed;
      top: 0;
      left: 0;
      width: 325px;
      height: 100%;
      padding: 20px 0;
      transition: all 0.5s ease;
     
  }
     .profile{
      margin-bottom: 15px;
      text-align: center;
  }
  
   .profile img{
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
  }
  
   .profile h3{
      color: #ffffff;
      margin: 10px 0 5px;
  }
  
   .profile p{
      color: rgb(206, 240, 253);
      font-size: 14px;
  }