<div  class="dialog ">
    <mat-card *ngIf="!deleteProfitLoss">
        <h3 mat-dialog-title class="justify-content-between align-items-center"> Profit & Loss
            <button class="popup-close-btn float-end" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button> 
        </h3>
        <mat-dialog-content>
            <mat-card-content class="pt-0">
                <div class="load-wrap" *ngIf="isLoading">
                    <app-loader [IsLoading]="isLoading"></app-loader>
                </div>
                <div  *ngIf="!isLoading">
                    <div class="no-print content-center control-div container">
                        <div class="button-row ">
                        <!-- <button class="print-btn" (click)="download()"  mat-fab extended>
                            <mat-icon>print</mat-icon>
                            Print
                        </button> -->
                        <app-download-pdf (clickEvent)="download()" ></app-download-pdf>
                                        
                        </div>                 
                    </div>
                    <div  #pdfContent id="pdfContent" >
                        <div class="report-head">
                            <h5 class="sub-heading content-center">Profit & Loss</h5>
                            <hr>
                            <div class="control-div pd-1">
                                <span class="report-heading">Project : {{dataObj.project}} </span>
                                <span class="report-heading float-end" > Month-Year : {{ dataObj.generatedate | date: 'MMMM - yyyy'}}</span>
                            </div>
                            
                            <div class="control-div">
                                <span class="report-heading"> Income : {{dataObj.totalincome | formatCurrency}}  </span>
                                <span class="report-heading float-end" > Date : {{ today | formatDate}}</span>   
                            </div>
                            <div class="control-div">
                            <span class="report-heading">Expense : {{dataObj.totalexpense | formatCurrency}}  </span>
                            <span class="report-heading float-end" > </span>    
                            </div>
                            <div class="control-div">
                            <span  class="report-heading">
                                Net Gain/Loss :
                                <span [ngClass]="{
                                ' positive': (dataObj.totalincome - dataObj.totalexpense) > 0,
                                ' negative': (dataObj.totalincome - dataObj.totalexpense) < 0
                                }">{{(dataObj.totalincome-dataObj.totalexpense) | formatCurrency}} ({{this.dataObj.percentage}})</span>  
                            </span>
                            <span class="report-heading float-end" > </span>    
                        </div>
                        </div>
                        <div id="print-section" class="dialog-print  mat-elevation-z8"> 
                        
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

                                <!-- Group Header Row -->
                                <ng-container matColumnDef="groupHeader">
                                <td mat-cell *matCellDef="let row; let i = index" [attr.colspan]="displayedColumns.length">
                                    <div class="item-center">
                                        <strong>{{ row.label }}</strong>
                                        <button class="hide-in-pdf" *ngIf="!row.label?.includes('Revenue')" mat-icon-button type="button"  (click)="addControls(row,dataSource.indexOf(row))">
                                            <mat-icon>add_circle</mat-icon>
                                        </button>
                                    </div>
                                
                                
                                </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="totalHeader">
                                    <td mat-cell class="pd-4" *matCellDef="let row" [attr.colspan]="1">
                                        <strong>{{ row.name }}</strong>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="totalcurrent">                                
                                    <td mat-cell *matCellDef="let row" >
                                        <strong> {{(row.isincome ? ' (+) ':' (-) ')+(row.actualamount |formatCurrency) }}</strong>
                                    </td>  
                                </ng-container>
                                
                                <ng-container matColumnDef="totalempty">                                  
                                    <td mat-cell class="hide-in-pdf" *matCellDef="let row" >                                    
                                    </td>  
                                </ng-container>
                                <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Particulars </th>
                                <td mat-cell class="pd-4" *matCellDef="let row"> 
                                    <ng-container *ngIf="!row.isNew && !row.isEditing">
                                        {{row.srno+'. '+ row.name }}
                                    </ng-container>
                                    <ng-container *ngIf="row.isNew || row.isEditing">
                                        <mat-form-field>
                                            <mat-label>Name</mat-label>
                                            <input matInput [(ngModel)]="row.name" (ngModelChange)="onRowNameChange(row,dataSource.indexOf(row), $event)">
                                        </mat-form-field>
                                        
                                    </ng-container>
                                    </td>
                                </ng-container>                        
                            
                                <!-- <ng-container matColumnDef="noteno">
                                    <th mat-header-cell *matHeaderCellDef> Note No. </th>
                                    <td mat-cell *matCellDef="let row"> 
                                        <span *ngIf="row.isincome">  </span>
                                    </td>
                                </ng-container>                            -->
                                <ng-container matColumnDef="actualamount">
                                <th mat-header-cell *matHeaderCellDef> Income </th>
                                <td mat-cell *matCellDef="let row"> 
                                    <ng-container *ngIf="!row.isNew && !row.isEditing">
                                        <span > {{ row.actualamount }}  </span>
                                    </ng-container>
                                    <ng-container *ngIf="row.isNew || row.isEditing">
                                        <mat-form-field>
                                            <mat-label>Amount</mat-label>
                                            <input matInput [(ngModel)]="row.actualamount" (ngModelChange)="onRowAmountChange(row,dataSource.indexOf(row), $event)">
                                        </mat-form-field>
                                        
                                    </ng-container>
                                    
                                </td>
                                </ng-container> 
                                
                                <ng-container matColumnDef="action" >
                                    <th mat-header-cell *matHeaderCellDef class="hide-in-pdf"> Action </th>
                                    <td mat-cell class="hide-in-pdf" *matCellDef="let row;">
                                        <ng-container *ngIf="!row.isNew && !row.isEditing">
                                            <!-- <button mat-button color="primary" *ngIf="row.canAdd" (click)="addControls(row,dataSource.indexOf(row))">Add Below</button> -->
                                            <button mat-button color="accent" (click)="editRow(row,dataSource.indexOf(row))">Edit</button>
                                            <button mat-button color="warn" *ngIf="row.isremovable" (click)="removeRow(row,dataSource.indexOf(row))">Remove</button>
                                        </ng-container>
                                        <ng-container *ngIf="row.isNew">
                                            <!-- <button mat-button color="primary" (click)="saveRow(row,dataSource.indexOf(row))">Save</button> -->
                                            <button mat-button color="warn" (click)="removeRow(row,dataSource.indexOf(row))">Remove</button>
                                        </ng-container>
                                        <ng-container *ngIf="row.isEditing">
                                            <!-- <button mat-button color="primary" (click)="saveRow(row,dataSource.indexOf(row))">Save</button> -->
                                            <button mat-button (click)="cancelEdit(row,dataSource.indexOf(row))">Cancel</button>
                                        </ng-container>
                                        </td>
                                    </ng-container>

                                <ng-container matColumnDef="totalfooter">
                                    <td mat-cell class="pd-4" *matCellDef="let row" [attr.colspan]="1">
                                        <strong>{{ row.name }}</strong>
                                    </td> 
                                
                                    </ng-container>
                                    <ng-container matColumnDef="totalfootercurrent">                                
                                        <td mat-cell *matCellDef="let row" >
                                            <strong> {{(row.actualamount |formatCurrency) }}</strong>
                                        </td>  
                                    </ng-container>
                                    
                                <!-- Header -->
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            
                                <!-- Group Row -->
                                <tr mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" class="group-header-row"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['totalHeader','totalcurrent','totalempty']; when: isTotalInfo" class="group-total-row"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['totalfooter','totalfootercurrent','totalempty']; when: isFooterInfo" class="group-total-row"></tr>
                                    <!-- Data Row -->
                                <tr mat-row *matRowDef="let row; columns: displayedColumns ; when: isData"></tr>
                            </table>
                            

                        </div>
                     </div> 
                    <!-- <app-revenue-operation-list class="no-print" *ngIf="scopeLoaded" (onDataLoad)="addDatatoSheet($event)" ></app-revenue-operation-list>
                    <app-emp-benefit-expense-list class="no-print"  *ngIf="scopeLoaded" (onDataLoad)="addDatatoSheet($event)"></app-emp-benefit-expense-list>
                    <app-other-income-list class="no-print"  *ngIf="scopeLoaded" (onDataLoad)="addDatatoSheet($event)"></app-other-income-list>
                    <app-finance-cost-list class="no-print"  *ngIf="scopeLoaded" (onDataLoad)="addDatatoSheet($event)"></app-finance-cost-list> -->
               </div>
            </mat-card-content>
          
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <div class="row control-div">
               <div class=" button-row" align="right">
                <app-submit-load-btn (clickEvent)="submit()" [isValid]="true"  [isClicked]="isClicked"
                text="Save" ></app-submit-load-btn>
             </div>
             </div>
           </mat-dialog-actions>
    </mat-card>
    <mat-card *ngIf="deleteProfitLoss">      
        <mat-card-title class="card-title d-flex justify-content-center" >
            <mat-icon>warning</mat-icon><span>Delete Profit & Loss</span>
        </mat-card-title>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <mat-dialog-content>
                    <span class="mat-typography alert-content">
                        Are you sure you want to delete <span class="vw-lbl">{{data.element.monthandyear| date:'MMMM-yyyy'}}</span> ?. This operation can
                        not be un-done once performed sucessfully.
                    </span>
                </mat-dialog-content>
                <mat-dialog-actions align="center">
                    <div class="control-div">
                        <button class="delete-btn" mat-raised-button (click)="delete()" color="primary">
                            Delete
                        </button>
                        <button class="cancel-btn" mat-stroked-button color="default" mat-dialog-close>
                            Cancel
                        </button>
                    </div>
                </mat-dialog-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>
