<div class="dialog" >
    <mat-card *ngIf="!deleteor">
        
        <h3 mat-dialog-title> {{title}}             
        </h3>
        
        <mat-dialog-content class="mat-typography">
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <!-- <form [formGroup]="organizationForm" > -->
                <form [formGroup]="orForm" (submit)="submit()">
                    <div class="row control-div">                       
                       
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput formControlName="description"></textarea>
                               
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Rate</mat-label>
                                <input  type="number" matInput formControlName="rate">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label> Months</mat-label>
                                <input  type="number" matInput formControlName="months">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                       
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Contract Amount</mat-label>
                                <input type="number" readonly matInput value="" >
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Previous Bill Month</mat-label>
                                <input  type="number" matInput formControlName="previousbillmonths">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Previous Bill Amount</mat-label>
                                <input  type="number" matInput >
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Current Bill Month</mat-label>
                                <input  type="number" matInput formControlName="currentbillmonths">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Current Bill Amount</mat-label>
                                <input  type="number" matInput >
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Cummulative Bill Month</mat-label>
                                <input  type="number" matInput >
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Cummulative Bill Amount</mat-label>
                                <input  type="number" matInput >
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Remaining Month</mat-label>
                                <input  type="number" matInput >
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Remaining Amount</mat-label>
                                <input  type="number" matInput >
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                    </div>
                   
                </form>
            </div>
        </mat-card-content>
        </mat-dialog-content>
    
    <mat-dialog-actions align="end">
     <div class="row control-div">
        <div class=" button-row" align="right">
              <button class="cancel-btn" mat-stroked-button mat-dialog-close color="default">Cancel</button>
              <button class="submit-btn" (click)="submit()" mat-flat-button  color="primary">
                  {{isEdit?'Update':'Submit'}}</button>
      </div>
      </div>
    </mat-dialog-actions>
</mat-card>
    <mat-card *ngIf="deleteor">      
        <mat-card-title class="card-title d-flex justify-content-center" >
            <mat-icon>warning</mat-icon><span>{{title}}</span>
        </mat-card-title>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <mat-dialog-content>
                    <span class="mat-typography alert-content">
                        Are you sure you want to delete <span class="vw-lbl">{{orForm.controls['name'].value}}</span> ?. This operation can
                        not be un-done once performed sucessfully.
                    </span>
                </mat-dialog-content>
                <mat-dialog-actions align="center">
                    <div class="control-div">
                        <button class="delete-btn" mat-raised-button (click)="delete()" color="primary">
                            Delete
                        </button>
                        <button class="cancel-btn" mat-stroked-button color="default" mat-dialog-close>
                            Cancel
                        </button>
                    </div>
                </mat-dialog-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>
