.space{
    margin-right: 12px;
}
.wrapper{
    margin-top: 20px;
}
.mat-mdc-card {
    box-shadow: none;
}
// .mat-mdc-tab-label-container {
//     gap: 10px; 
//   }
  // .mat-mdc-tab .mdc-tab__content,.mat-mdc-tab.mdc-tab{
  //   margin-right: 1rem !important;
  // }

  .details-text,.details-val{
    font-weight: 500;
  }
  hr{
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
  ::ng-deep .full-width{
    width: 100% !important;
  }
  .sub-heading{
    margin-top: 0px;
  }
  .letter-head{
    display: flex; 
    align-items: center;
  }