.space{
    margin-right: 12px;
}
.wrapper{
    margin-top: 20px;
}
.mat-mdc-card {
    box-shadow: none;
}
  ::ng-deep .full-width{
    width: 100% !important;
  }
  .sub-heading{
    margin-top: 0px;
  }
  .letter-head{
    display: flex; 
    align-items: center;
  }
  ::ng-deep .mdc-tab{
    margin-right: 20px !important;
  }