<div class="container">
  <mat-card >
    <mat-card-content>
        <div class="load-wrap" *ngIf="isLoading">
            <app-loader [IsLoading]="isLoading"></app-loader>
        </div>
        <div *ngIf="!isLoading">     
            <div class="mat-elevation-z8"> 
              <div class="row content-center">
                <div class="col-md-9">
                  <app-search-bar-controls  
                  [isProjects]="true" [isAny]="true" searchByAnyPlaceholder="Source / Destination"
                  (OnProjectChange)="projectChange($event)" 
                  (OnAnyChange)="anyChange($event)" (OnClear)="clear()" 
                  ></app-search-bar-controls>                       
              </div>       
              <div class="col-md-3 button-row main-btn-row d-flex justify-content-end">
                <button class="title-btn" type="button" routerLink="create"  mat-mini-fab color="primary">
                  <mat-icon>add box</mat-icon> Ticket
              </button>  
              </div>
            </div> 
            </div>
        </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="wrapper">
      <mat-card-content>
        <ng-container *ngIf="isLoading || isSearching; else checkNoData">
          <app-empty-table-skltn></app-empty-table-skltn>
        </ng-container>
        <ng-template #checkNoData>
          <ng-container *ngIf="dataSource?.data?.length === 0; else showTable">
            <app-no-data message="No Ticket found at this moment !!"></app-no-data>
          </ng-container>
        </ng-template>
        <ng-template #showTable>
          <div class="mat-elevation-z8">     
            <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
          
              <ng-container matColumnDef="serial">
                <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
              </ng-container>
          
              <!-- contractName Column -->
              <ng-container matColumnDef="projectname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
                <td mat-cell *matCellDef="let row"> {{row.projectname}} </td>
              </ng-container>                      
              
              <!-- con_personName Column -->
              <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Source </th>
                <td mat-cell *matCellDef="let row"> {{row.source}} </td>
              </ng-container>
          
              <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
                <td mat-cell *matCellDef="let row"> {{row.destination}} </td>
              </ng-container>
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Booking Date </th>
                <td mat-cell *matCellDef="let row"> {{row.bookingdate | formatDate}} </td>
              </ng-container> 
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                <td mat-cell *matCellDef="let row"> {{row.ticketamount | formatCurrency}} </td>
              </ng-container>
              <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ticket </th>
                <td mat-cell *matCellDef="let row"> 
                <app-file-icon [link]="row.proofaddress"></app-file-icon>
                </td>
              </ng-container>
              <!-- con_personName Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                <td mat-cell *matCellDef="let row"> 
                  <div class="button-row">                              
                    <app-edit-btn [routerLink]="['/ticket/edit',row.id]" [state]="row" ></app-edit-btn>                              
                    <app-delete-btn [state]="row" [routerLink]="['/ticket/delete',row.id]" ></app-delete-btn>
              </div>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell no-data-cell"  attr.colspan="{{ displayedColumns.length }}">
                  No Ticket found at this moment.</td>
              </tr>
            </table>
            <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pagination" showFirstLastButtons>
            </mat-paginator>
          </div> 
          </ng-template>
      </mat-card-content>
  </mat-card>
</div>
<router-outlet></router-outlet>
