<div class="dialog" >
    <mat-card *ngIf="!deleteItem">
        <h3 mat-dialog-title class="justify-content-between align-items-center"> {{title}} 
            <button class="popup-close-btn float-end" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button> 
        </h3> 
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <form [formGroup]="approvalForm" (submit)="submit()">
                    <div class="row control-div">
                        <div class="col-md-4">
                            <mat-form-field *ngIf="!isEdit">
                                <mat-label>Sub Company</mat-label>
                                <mat-select (selectionChange)="oncompChange($event)" formControlName="companyid">
                                    <mat-option  *ngFor="let field of companyList" [value]="field.id">
                                        {{field.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Please select Company Name</mat-error>
                            </mat-form-field>
                            <mat-form-field *ngIf="isEdit">
                                <mat-label>Sub-Company</mat-label>
                                <input readonly  matInput [value]="company">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" >
                            <mat-form-field *ngIf="!isEdit">
                                <mat-label>Name</mat-label>
                                <mat-select (selectionChange)="moduleChange($event)" formControlName="moduleid">
                                    <mat-option  *ngFor="let field of moduleList" [value]="field.id">
                                        {{field.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Please select Name</mat-error>
                            </mat-form-field>
                            <mat-form-field *ngIf="isEdit">
                                <mat-label>Name</mat-label>
                                <input readonly  matInput [value]="moduleName">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="row col-md-12" >
                            <div class="col-md-10 ">  
                                <span class="sub-heading control-div ">{{isEdit ? 'Edit':'Add'}} Approval Level(s)</span>
                            </div>
                            <div class="col-md-2">
                                <div  class="table-title-row float-end">                               
                                    <div class="button-row">                                  
                                    <button mat-icon-button type="button" matTooltip="New Approval Stage" (click)="addlevelsControls()">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>     
                                </div>
                                </div>
                            </div>  
                            <hr>
                            <div class="wrapper" formArrayName="levels">
                                <div *ngFor="let item of levels.controls; let i = index" [formGroupName]="i">
                                    <div class="col-md-12 row control-div">                                     
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Level</mat-label>
                                                <input  matInput  formControlName="name">
                                                <mat-error></mat-error>
                                            </mat-form-field>
                                        </div> 
                                        <div class="col-md-3">
                                            <mat-form-field>
                                                <mat-label>Role</mat-label>
                                                <mat-select  formControlName="roleid">
                                                    <mat-option  *ngFor="let field of roleList" [value]="field.id">
                                                        {{field.name}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>Please select Role for approval</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <app-select-search *ngIf="levels.at(i).get('empInit')?.value"  
                                            searchPlaceholder="Search Employee" [defaultValue]="levels.at(i).get('employeeid')?.value" emptySearchMessage="No Employee Found"
                                             label="Employee" [required]="true" selectPlaceholder="Employee(s)"
                                            (onValueChange)="empSelect($event,i)" [valueArrays]="levels.at(i).get('employees')?.value">
                                           </app-select-search>  
                                        </div>   
                                        <div class="col-md-1">
                                            <button  type="button" mat-mini-fab matTooltip="Remove Category"  (click)="removeDocControl(i)" class="warn-linear-image float-end"  >
                                                <mat-icon>remove</mat-icon>
                                            </button>
                                        </div>                
                                                
                                </div>
                            </div>
                       </div>
                        </div>
                        
                        <div class="col-md-12 button-row" align="right">
                                <button class="cancel-btn" mat-stroked-button mat-dialog-close color="default">Cancel</button>
                                
                                <app-submit-load-btn  [isClicked]="isClicked" [isValid]="approvalForm.valid || isClicked"
                                text=" {{isEdit?'Update':'Submit'}}" ></app-submit-load-btn>
                        </div>
                        
                    </div>
                    
                </form>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="deleteItem">      
        <mat-card-title class="card-title d-flex justify-content-center" >
            <mat-icon>warning</mat-icon><span>{{title}}</span>
        </mat-card-title>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <mat-dialog-content>
                    <span class="mat-typography alert-content">
                        Are you sure you want to delete <span class="vw-lbl">{{approvalForm.get('modulename')?.value}}</span> ?. This operation can
                        not be un-done once performed sucessfully.
                    </span>
                </mat-dialog-content>
                <mat-dialog-actions align="center">
                    <div class="control-div">
                        <button class="delete-btn" mat-raised-button (click)="delete()" color="primary">
                            Delete
                        </button>
                        <button class="cancel-btn" mat-stroked-button color="default" mat-dialog-close>
                            Cancel
                        </button>
                    </div>
                </mat-dialog-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>
