<div class="row">
  <div class=" row date-input">
    <!-- <div class="col-md-2">
      <button matTooltip="Previous" (click)="previous()" mat-icon-button color="primary">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div> -->
    <div style="padding: 0;" class="col-md-12 horizontal-center">
      <mat-form-field>
        <!-- <mat-label>Month and Year</mat-label> -->
        <label class="date-vw">{{date.value?.format('MMM - YYYY')}}</label>
        <input matInput [hidden]="true"  [matDatepicker]="dp" [max]="maxDate" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp startView="year" (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    </div>
    <!-- <div class="col-md-2">
      <button matTooltip="Next" [disabled]="nextBtn" (click)="next()" mat-icon-button color="primary">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div> -->
  </div>
</div>