<div class="container">
    <mat-card>
        <mat-card-content>
            <div class="table-title-row">
                <div class="row col-md-12">
                  <app-search-bar-controls   (OnAnyChange)="filterChange($event)" (OnClear)="clear()"
                  [isAny]="true" searchByAnyPlaceholder="Project Code / Name" ></app-search-bar-controls>
                </div>
            </div> 
           <ng-container *ngIf=" isLoading ; else checkNoData">
            <app-empty-table-skltn></app-empty-table-skltn>
          </ng-container>
          <ng-template #checkNoData>
            <ng-container *ngIf="dataSource?.data?.length === 0; else showTable">
              <app-no-data message="No Project(s) found at this moment !!"></app-no-data>
            </ng-container>
          </ng-template>
          <ng-template #showTable>
            <div  *ngIf="!isLoading">    
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                
                    <ng-container matColumnDef="serial">
                      <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                      <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
                    </ng-container>
                
                    <!-- contractName Column -->
                    <ng-container matColumnDef="projectid">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Code </th>
                      <td mat-cell *matCellDef="let row"> {{row.projectcode}} </td>
                    </ng-container>                      
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.projectshortname}} </td>
                    </ng-container>  
                    <!-- con_personName Column -->
                    <ng-container matColumnDef="view">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> View </th>
                      <td mat-cell *matCellDef="let row">                           
                        <app-view-btn [state]="row"  [routerLink]="['/boq-invoice']" ></app-view-btn>  
                      </td>
                    </ng-container>
                    
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell no-data-cell"  attr.colspan="{{ displayedColumns.length }}">
                        No BOQ(s) detail found at this moment.</td>
                    </tr>
                  </table>
                  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pagination" showFirstLastButtons>
                  </mat-paginator>
                </div> 
            </div>
          </ng-template>

        </mat-card-content>
    </mat-card>
</div>
<router-outlet></router-outlet>
