<div class="container">
    <mat-card>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div  *ngIf="!isLoading">   
                <div class="mat-elevation-z8">                   
                      <div class="table-title-row">
                        <mat-form-field>
                          <mat-label>Filter</mat-label>
                          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                        </mat-form-field>
                        <div class="button-row">              
                          <button class="title-btn" type="button" routerLink="create"  mat-mini-fab color="primary">
                            <mat-icon>add box</mat-icon> Attendence
                        </button> 
                      </div>
                    </div> 
                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
                      
                          <ng-container matColumnDef="serial">
                            <th mat-header-cell *matHeaderCellDef> Sr. No </th>
                            <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
                          </ng-container> 
                          <ng-container matColumnDef="compname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.company}} </td>
                          </ng-container>
                            <!-- contractName Column -->
                            <ng-container matColumnDef="employeename">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Employee Name </th>
                              <td mat-cell *matCellDef="let row"> {{row.employee}} </td>
                            </ng-container>
                      
                          <!-- contractName Column -->
                          <ng-container matColumnDef="projectshortname">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.projectname}} </td>
                          </ng-container>
                      
                          <!-- Name Column -->
                          <ng-container matColumnDef="month">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Month </th>
                            <td mat-cell *matCellDef="let row"> {{getMonthandYear(row.monthandyear).month}} </td>
                          </ng-container>
                      
                          <!-- con_personName Column -->
                          <ng-container matColumnDef="year">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
                            <td mat-cell *matCellDef="let row"> {{getMonthandYear(row.monthandyear).year}} </td>
                          </ng-container>
                          <!-- con_personName Column -->
                          <ng-container matColumnDef="totaldays">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Days </th>
                            <td mat-cell *matCellDef="let row"> {{row.totaldays}} </td>
                          </ng-container>
                          <!-- con_personName Column -->
                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                            <td class="action-col" mat-cell *matCellDef="let row"> 
                              <div class="button-row">                              
                                <app-edit-btn [routerLink]="['/boq-attendence/edit',row.id]" [state]="row" ></app-edit-btn>                              
                                <app-delete-btn [state]="row" [routerLink]="['/boq-attendence/delete',row.id]" ></app-delete-btn>
                          </div>
                           </td>
                          </ng-container>
                        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> 
                          <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                          </tr>
                        </table>
                        <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pagination" showFirstLastButtons>
                        </mat-paginator>
                      </div>                    
                      
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
<router-outlet></router-outlet>
