<div class="mat-elevation-z8">                   
   
  <app-no-data *ngIf="dataSource?.data?.length==0" message="No EOT(s) found at this moment !!" ></app-no-data>
  <div *ngIf="dataSource?.data?.length!=0"  class="mat-elevation-z8">     
      <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
    
        <ng-container matColumnDef="serial">
          <th mat-header-cell *matHeaderCellDef> Sr. No </th>
          <td mat-cell *matCellDef="let index = renderIndex"> {{index+1}} </td>
        </ng-container>
    
        <!-- contractName Column -->
        <ng-container matColumnDef="eotcode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> EOT Code </th>
          <td mat-cell *matCellDef="let row"> {{row.code}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="initiatedate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Initiate Date </th>
          <td mat-cell *matCellDef="let row"> {{row.initiatedate | formatDate }} </td>
        </ng-container>                      
      
        <ng-container matColumnDef="approveddate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Approved Date </th>
          <td mat-cell *matCellDef="let row">{{row.closedate | formatDate }} </td>
        </ng-container>
        <ng-container matColumnDef="days">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Days</th>
          <td mat-cell *matCellDef="let row">Days : {{row.days}} <br/> Approved  :  {{row.approveddays??0}}
          </td>
        </ng-container>
        <ng-container matColumnDef="eotstatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
          <td mat-cell *matCellDef="let row">{{row.status}} </td>
        </ng-container>
        <ng-container matColumnDef="letters">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Letters</th>
          <td mat-cell *matCellDef="let row">
            <table class="child-table">
              <tr *ngIf="row.initiateletterid">
                <td> <span>Initiate </span></td>
                <td class="pad-right-1 pad-left-1">:</td>
                <td> <app-view-btn (clickEvent)="viewletter(row.initiateletterid)" ></app-view-btn></td>
              </tr>
              <tr *ngIf="row.closeletterid">
                <td> <span>Close </span></td>
                <td class="pad-right-1 pad-left-1">:</td>
                <td><app-view-btn (clickEvent)="viewletter(row.closeletterid)"></app-view-btn></td>
              </tr>
            </table>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>        
      
      </table>
      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pagination" showFirstLastButtons>
      </mat-paginator>
     
    </div>
    
    
</div>