<div class="dialog" >
    <mat-card *ngIf="!deleteImperest">        
        <h3 mat-dialog-title class="justify-content-center">{{title}}</h3>
        <mat-dialog-content class="mat-typography">
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <!-- <form [formGroup]="organizationForm" > -->
                <form [formGroup]="imperestForm" (submit)="submit()">
                    <div class="row control-div">
                        <div class="col-md-4" *ngIf="!isEdit">
                            <app-project-control  (onValueChange)="projectChange($event)"
                            [defaultValue]="imperestForm.get('projectid')?.value" ></app-project-control>
                        </div>
                        <div class="col-md-4" *ngIf="!isEdit">
                            <mat-form-field>
                                <mat-label>Select Office</mat-label>
                                <mat-select formControlName="officeid">
                               
                                    @for (option of ofcList; track option) {
                                      <mat-option [value]="option.id">{{ option.name +' '+ option.location }}</mat-option>
                                    }
                                </mat-select>
                                <mat-error *ngIf="!imperestForm.get('projectid')?.value">Please select Project first</mat-error>
                                <mat-error>Please select Office</mat-error>
                              </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Imperest Name</mat-label>
                                <input matInput formControlName="name">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 

                        <div class="col-md-4">                          
                            <mat-form-field class="example-full-width">
                                <mat-label>Date</mat-label>
                                <input matInput  formControlName="date" [matDatepicker]="date">
                                
                                <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
                                <mat-datepicker #date></mat-datepicker>
                                <mat-error></mat-error>
                              </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Number of Day(s)</mat-label>
                                <input matInput type="number" formControlName="days">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Remarks</mat-label>
                                <input  matInput formControlName="remarks">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 

                        <div class="row col-md-12" >
                            <div class="col-md-10 ">  
                                <span class="sub-heading control-div ">{{isEdit ? 'Edit':'Add'}} Expense(s) Category</span>
                            </div>
                            <div class="col-md-2">
                                <div  class="table-title-row float-end">                               
                                    <div class="button-row">                                  
                                    <button mat-icon-button type="button" matTooltip="New Expense" (click)="addDetailsControls()">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>     
                                </div>
                                </div>
                            </div>  
                            <hr>
                            <div class="wrapper" formArrayName="details">
                                <div *ngFor="let item of details.controls; let i = index" [formGroupName]="i">
                                    <div class="col-md-12 row control-div">                                     
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-label>Category Name</mat-label>
                                                <input matInput formControlName="expensename">
                                                <mat-error></mat-error>
                                            </mat-form-field>
                                        </div> 
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Expense Amount</mat-label>
                                                <input type="number" matInput formControlName="amount">
                                                <mat-error></mat-error>
                                            </mat-form-field>
                                        </div>    
                                        <div class="col-md-2">
                                            <button  type="button" mat-mini-fab matTooltip="Remove Category"  (click)="removeDocControl(i)" class="warn-linear-image float-end"  >
                                                <mat-icon>remove</mat-icon>
                                            </button>
                                        </div>                
                                    <!-- <app-attach-file  (onfileUpload)="fileUploded($event,i)" [showRemove]="i !== 0" (clickEvent)="removeDocControl(i)" (textChanged)="onDocNameUpdate($event,i)" Uploadtitle="Document" ></app-attach-file> -->
                                                 
                                </div>
                            </div>
                       </div>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <div class="row control-div">
            <div class=" button-row" align="right">
                  <button class="cancel-btn" mat-stroked-button mat-dialog-close color="default">Cancel</button>
                  <button [ngClass]="imperestForm.valid? 'submit-btn':''" mat-flat-button [disabled]="!imperestForm.valid || isBtnClicked" (click)="submit()" color="primary">
                    <span [hidden]="isBtnClicked">{{isEdit?'Update':'Submit'}}</span> 
                    <app-btn-loader [IsLoading]="isBtnClicked"></app-btn-loader>
                    </button>
          </div>
          </div>
      </mat-dialog-actions>
    </mat-card>
    <mat-card *ngIf="deleteImperest">      
        <mat-card-title class="card-title d-flex justify-content-center" >
            <mat-icon>warning</mat-icon><span>{{title}}</span>
        </mat-card-title>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <mat-dialog-content>
                    <span class="mat-typography alert-content">
                        Are you sure you want to delete <span class="vw-lbl">{{imperestForm.controls['name'].value}}</span> ?. This operation can
                        not be un-done once performed sucessfully.
                    </span>
                </mat-dialog-content>
                <mat-dialog-actions align="center">
                    <div class="control-div">
                        <button class="delete-btn" mat-raised-button (click)="delete()" color="primary">
                            Delete
                        </button>
                        <button class="cancel-btn" mat-stroked-button color="default" mat-dialog-close>
                            Cancel
                        </button>
                    </div>
                </mat-dialog-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>
