/* Toolbar background */
::ng-deep .pdfViewer .toolbar,
::ng-deep .pdfViewer .toolbarField,
::ng-deep .toolbar {
  background-color: #000 !important; /* black */
  color: #fff !important;            /* white text */
}

/* Buttons */
::ng-deep .toolbar button,
::ng-deep .toolbar .splitToolbarButton button {
  color: #fff !important;
  fill: #fff !important;   /* for SVG icons */
}

/* Hover state */
::ng-deep .toolbar button:hover {
  //background-color: #222 !important;
}

/* Input fields (page number, zoom, search) */
::ng-deep .toolbar input,
::ng-deep .toolbar select {
  background-color: #000 !important;
  color: #fff !important;
  border: 1px solid #555 !important;
}

/* Disable focus outlines */
::ng-deep .toolbar input:focus,
::ng-deep .toolbar select:focus {
  outline: none !important;
  //border-color: #888 !important;
}

::ng-deep #toolbarViewer{
    background-color: black !important;
}

::ng-deep ngx-extended-pdf-viewer .toolbarButton>svg {
    color: white !important;
}

::ng-deep button[id="primaryEditorFreeText"],
::ng-deep button[id="primaryEditorStamp"],
::ng-deep button[id="primaryEditorInk"] {
  display: none !important;
}
.pdf-loader-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.pdf-loader-content {
  background: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pdf-container {
  position: relative;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  z-index: 100;
}