.msg-note{
    font-weight: 600;
}
hr{
    margin: 3px;
}
.template-btn{
  color: #ffffff !important;
    background-color: #0005ff !important;
    font-size: 17px;
}

  
  .mat-header-row {
    height: 60px; /* Custom row height */
  }
  .upload-btn{
    border: 1px solid #005cbb !important;
  }
  .mat-mdc-card-content:last-child ,.mat-mdc-card-content:first-child{
    padding: 0px;
  } 

