<mat-toolbar class="mat-elevation-z6 navbar mat-typography" color="primary">
    <div class="toolbar-container d-flex flex-row">
        <div class="d-lg-none">
            <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="brand p-2 align-self-center ml-auto " translate>
            <span class="viztro-logo"></span>
            <h1>Visitor Management System</h1>
        </div>
    </div>
</mat-toolbar>