//@import "/src/theme/theme-variables";

.branding
{
    margin-bottom: 25px;

    .viztro-logo{
        width: 160px;
        float:none;
        margin:auto;
    }
    h1{
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.left-right-wrap
{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}
.collapse{
    width: 100%;
    background-color: #272045; 
    text-align: right;
    padding: 3px 0 0 0;
    height:30px;
    position:fixed;
    bottom: 0;
    left: 0;

    .collapse-icon{
        cursor: pointer;
    }
}
.upper-sidebar
{
   // padding: 20px 25px 20px 25px;
    text-align: center;
    font-size: .9rem;

    button{
margin-bottom: 15px;
    }
}
.large-left
{
    display: table-cell;
    min-height: 100%;
    background-color: #00343f;
    background-image: linear-gradient(#09002d, #737373);
    color: #fff;
    vertical-align: top;
    padding-top: 30px;
    
    &.expanded{
        width: 240px;
        left:0;
        transition: left .5s;
        position: absolute;
  
        .collapse{
            width: 240px !important;
            left:0;
            transition: left .5s;
        
        .collapse-icon{
            transform: rotate(-360deg);
            transition: transform .5s ease;
            margin-left: 3px;
        }
    }
    }
    &.collapsed{
        width: 275px;
        left:-245px;
        transition: left .5s;
        position: absolute;
  
        .collapse{
            width: 275px;
            left:-245px;
            transition: left .5s;
        
        .collapse-icon{
            transform: rotate(-180deg);
            transition: transform .5s ease;
            margin-left: 3px;
        }
    }
    }
  }

  .large-right
  {
      display: table-cell;
      vertical-align: top;

      &.collapsed {
          padding-left: 75px;
          transition: padding .5s;
      }

      &.expanded {
          padding-left: 250px;
          transition: padding .5s;
      }
  }
  .first-name
  {
      text-transform: capitalize;
  }
  .last-active
  {
      color: #e5eeee;
  }
  .menu-label{
      padding:0 15px 0 15px;
      .text{
          float: left;
          width: 16%;
          font-size: .9rem;
      }
      .seprator{
          border-bottom: 1px dotted #FFF;
          width: 84%;
          float: left;
          height: 14px;
      }
  }
 
  .mat-sidenav-container,.main-container{

    height: 100%;
    .upper-sidebar{
        .branding{
display: none;
        }
    }
  }
  .mat-sidenav-content{
      padding-bottom: 80px;
  }
  .mat-sidenav{
      min-width:375px;
      max-width:28%
  }
  .has-border{
      border-right: 1px solid rgba(0,0,0,.12);
  }
  .mat-list{
      padding-top:0;
  }
  .mat-list-item{
      text-decoration: none;
      &:hover{
          background: rgba(0,0,0,.05);
      }
  }

  .mat-sidenav,.mat-drawer-content,
  //Force style down to child components
  //See https://angular.io/guide/component-styles#deep
  :host ::ng-deep .mat-drawer-backdrop{
top:64px;
bottom: 0;
left: 0;
right: 0;
height: auto;
position: absolute;
  }

//   @media ($mat-xsmall){
//     .mat-sidenav,.mat-drawer-content,
//    :host ::ng-deep .mat-drawer-backdrop{
//        top:56px;
//    }
//   }


//mat-input focused color
::ng-deep .location-list .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: white!important;
}

// mat-label focused style
::ng-deep .location-list .mat-form-field.mat-focused .mat-form-field-label {
    color: white!important;
}

::ng-deep .location-list .mat-form-field.mat-focused .mat-select-value-text{
    color:white !important;
} 

::ng-deep .location-list .mat-form-field .mat-select-arrow{   
    color:white !important;
}

.collapse:not(.show) {
    display: block !important;
}


/* Root level (level 0) */
ngx-multilevel-menu .ngx-multilevel-menu-item.level-0 {
    padding-left: 0;
  }
  
  /* First-level child items (level 1) */
  ngx-multilevel-menu .ngx-multilevel-menu-item.level-1 {
    padding-left: 20px;
  }
  
  /* Second-level child items (level 2) */
  ngx-multilevel-menu .ngx-multilevel-menu-item.level-2 {
    padding-left: 40px;
  }
  
/* Google Fonts Import Link */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
//   font-family: 'Poppins', sans-serif;
}
body{
  overflow: hidden;
}
.sidebar.close{
  width: 65px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}

.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}

.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  //border-radius: 0 6px 6px 0;
  border-radius: 12px;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);  
  border-color: #f5f5f5;
  border-radius: 1rem;
  border-width: 1px;
}


.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
//   background: #E4E9F7;
  height: 10vh;
  left: 0px;
 //width: calc(100% - 260px);
  transition: all 0.5s ease;
//   padding: 12px;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  cursor: pointer;
  margin-right: 10px;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .profile-details{
    width: 240px;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
 
}
// .nav-links-li {
//     padding: 13px 0px 13px 7px !important;
//   }
//   li >a > mat-icon, .nav-links-li >div>a>mat-icon {
//     margin-right: 10px !important;
//     margin-left: 10px !important;
//     font-size: 25px !important;
//     color: white !important;
//   }
.bx-menu:before {
    content: "";
}
.collapse-btn{
    //color: white;
   color: black;
    margin: 4px;
    padding: 7px;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  //background-image: linear-gradient(#09002d, #737373);
  background-image: linear-gradient(#ffffff, #ffffff);
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 600;
  //color: #fff;
  background: linear-gradient(45deg, #09002d, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease;
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 45px;
  text-align: center;
  line-height: 50px;
  //color: #fff;
  background: linear-gradient(45deg, #09002d, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a{
  //color: #fff;
  background: linear-gradient(45deg, #09002d, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 17px;
  padding: 7px 10px;
  white-space: nowrap;
  //opacity: 0.6;
  transition: all 0.3s ease;
  font-weight: 500;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 45px;
  margin-top: 0px;
  //background: #1d1b31;
  background: white;
  display: none;
}
.sidebar .nav-links li:hover{
  //background: #1d1b31;
  //background-image: linear-gradient(#09002d, #737373)
}
.sidebar .nav-links li .sub-menu a:hover{  
  color: white;  
  opacity: 0.6;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  //color: #fff;
  background: linear-gradient(45deg, #09002d, #737373);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}