<div class="dialog" >
    <mat-card *ngIf="!deleteRent">
        <h3 mat-dialog-title class="justify-content-between align-items-center"> {{title}} 
            <button class="popup-close-btn float-end" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button> 
        </h3> 
        <mat-dialog-content class="mat-typography">
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <form [formGroup]="rentForm" >
                    <div class="row control-div">                       
                        <div class="col-md-3">
                            <app-project-control *ngIf="!isLoading"  (onValueChange)="projectChange($event)"
                            [defaultValue]="rentForm.get('projectid')?.value" ></app-project-control>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field>
                                <mat-label>Office Name</mat-label>
                                <input   matInput formControlName="officename">
                                <mat-error>Please provide Name.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" >
                            <mat-form-field>
                                <mat-label>Office Location</mat-label>
                                <input   matInput formControlName="officelocation">
                                <mat-error>Please provide Location.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Basic Amount</mat-label>
                                <input type="number" matInput (input)="onAmountChangeEvent()"  formControlName="basicamount">
                                <mat-error>Please provide Basic Amount.</mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3" *ngIf="showTDS" >
                            <mat-form-field>
                                <mat-label>TDS Percentage</mat-label>
                                <input  type="number" (input)="onAmountChangeEvent()" matInput formControlName="tdspercentage">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3" *ngIf="showTDS">
                            <mat-form-field>
                                <mat-label>TDS Amount</mat-label>
                                <input matInput [value]="tdsAmount" readonly >
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                       
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Total Amount</mat-label>
                                <input matInput readonly [value]="totalAmount" >
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                       
                        <div class="col-md-3">                          
                            <mat-form-field class="example-full-width">
                                <mat-label>Agreement Start Date</mat-label>
                                <input matInput  formControlName="agreementstartdate" [matDatepicker]="agreementstartdate">
                                
                                <mat-datepicker-toggle matIconSuffix [for]="agreementstartdate"></mat-datepicker-toggle>
                                <mat-datepicker #agreementstartdate></mat-datepicker>
                                <mat-error>Please select Agreement Date.</mat-error>
                              </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Agreement Duration (In Months)</mat-label>
                                <input matInput formControlName="agreementduration">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                       
                        <div class="col-md-3">                          
                            <mat-form-field class="example-full-width">
                                <mat-label>Agreement End Date</mat-label>
                                <input matInput  formControlName="agreementenddate" [matDatepicker]="agreementenddate" [disabled]="true">
                              
                                <mat-datepicker-toggle matIconSuffix [for]="agreementenddate"  [disabled]="true"></mat-datepicker-toggle>
                                <mat-datepicker #agreementenddate></mat-datepicker>
                                <mat-error>Please select End date.</mat-error>
                              </mat-form-field>
                        </div>
                        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Owner Name</mat-label>
                                <input matInput formControlName="ownername">
                                <mat-error>Please provide Name.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>PAN Card</mat-label>
                                <input matInput class="text-uppercase" formControlName="panno">
                                <mat-error *ngIf="rentForm.get('panno')?.hasError('required')">
                                    Please provide PAN card No.</mat-error>
                                <mat-error *ngIf="rentForm.get('panno')?.hasError('panno')">
                                    Please provide valid PAN card No.
                                </mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Phone Number</mat-label>
                                <input matInput maxlength="10"  formControlName="phoneno">
                               
                                <mat-error *ngIf="rentForm.get('phoneno')?.hasError('required')">
                                    Please provide Phone Number.
                                </mat-error>
                                <mat-error *ngIf="rentForm.get('phoneno')?.hasError('phoneno')">
                                    Enter a valid 10-digit phone number
                                </mat-error>
                            </mat-form-field>
                        </div> 
                        </div>
                        <div class="col-md-12 ">  
                            <span class="sub-heading control-div ">Bank Details</span>
                        </div>
                        <div class="row control-div">
                     
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Bank Name</mat-label>
                                <input matInput formControlName="bankname">
                                <mat-error>Please provide Name.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Account Holder Name</mat-label>
                                <input matInput formControlName="accountholdername">
                                <mat-error>Please provide Name.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>Account Number</mat-label>
                                <input matInput formControlName="accountnumber">
                                <mat-error>Please provide Number.</mat-error>
                            </mat-form-field>
                        </div>                     
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>IFSC Code</mat-label>
                                <input matInput class="text-uppercase" formControlName="ifsccode">
                                <mat-error *ngIf="rentForm.get('ifsccode')?.hasError('required')">
                                  Please provide IFSC Code.
                                </mat-error>
                                <mat-error *ngIf="rentForm.get('ifsccode')?.hasError('ifsc')">
                                    Please provide valid IFSC Code.
                                </mat-error>
                            </mat-form-field>
                        </div> 
                        
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-label>GST No.</mat-label>
                                <input matInput formControlName="gstno">
                                <mat-error *ngIf="rentForm.get('gstno')?.hasError('required')">
                                    Please provide GST No.</mat-error>
                                 <mat-error *ngIf="rentForm.get('gstno')?.hasError('gstno')">
                                    Please provide valid GST No.
                                </mat-error>
                            </mat-form-field>
                        </div> 
                        
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <textarea matInput formControlName="address"></textarea>
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                        <div class="row col-md-12" *ngIf="!isEdit">
                            <div class="col-md-10 ">  
                                <span class="sub-heading control-div ">Document(s)</span>
                            </div>
                            <div class="col-md-2">
                                <div  class="table-title-row float-end">                               
                                    <div class="button-row">                                  
                                    <button mat-icon-button type="button" matTooltip="New Document" (click)="addDocControls()">
                                        <mat-icon>add_circle</mat-icon>
                                    </button>     
                                </div>
                                </div>
                            </div>  
                            <hr>
                            <div class="wrapper" formArrayName="files">
                                <div *ngFor="let item of files.controls; let i = index" [formGroupName]="i">
                                    <div class="col-md-12 row control-div">
                                    <div class="col-md-12">                       
                                    <app-attach-file  (onfileUpload)="fileUploded($event,i)" [showRemove]="i !== 0" (clickEvent)="removeDocControl(i)" (textChanged)="onDocNameUpdate($event,i)" Uploadtitle="Document" ></app-attach-file>
                                    </div>                            
                                </div>
                            </div>
                       </div>
                        </div>
                    </div>
                                    
                </form>
            </div>
        </mat-card-content>
        </mat-dialog-content>
         <mat-dialog-actions align="end">
        <div class="row control-div">
            <div class=" button-row" align="right">
                <button class="cancel-btn" mat-stroked-button mat-dialog-close color="default">Cancel</button>
                <button [ngClass]="rentForm.valid? 'submit-btn':''" mat-flat-button [disabled]="!rentForm.valid || isBtnClicked" (click)="submit()" color="primary">
                    <span [hidden]="isBtnClicked">{{isEdit?'Update':'Submit'}}</span> 
                    <app-btn-loader [IsLoading]="isBtnClicked"></app-btn-loader>
                </button>
          </div>
          </div>
      </mat-dialog-actions>
    </mat-card>
    <mat-card *ngIf="deleteRent">      
        <mat-card-title class="card-title d-flex justify-content-center" >
            <mat-icon>warning</mat-icon><span>{{title}}</span>
        </mat-card-title>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <mat-dialog-content>
                    <span class="mat-typography alert-content">
                        Are you sure you want to delete <span class="vw-lbl"></span>?. This operation can
                        not be un-done once performed sucessfully.
                    </span>
                </mat-dialog-content>
                <mat-dialog-actions align="center">
                    <div class="control-div">
                        <button class="delete-btn" mat-raised-button (click)="delete()" color="primary">
                            Delete
                        </button>
                        <button class="cancel-btn" mat-stroked-button color="default" mat-dialog-close>
                            Cancel
                        </button>
                    </div>
                </mat-dialog-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>
