<div class="dialog" >
    <mat-card *ngIf="!deleteRequest">
        <h3 mat-dialog-title class="justify-content-between align-items-center"> {{title}} 
            <button class="popup-close-btn float-end" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button> 
        </h3>
        <mat-dialog-content class="mat-typography">
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <form [formGroup]="expenseForm">                
                    <div class="row control-div">
                        <div class="col-md-4"> 
                            <mat-form-field  class="example-full-width">
                                <mat-label>Date</mat-label>
                                <input matInput [min]="minDate" [max]="maxDate" formControlName="date" [matDatepicker]="startdate">
                                
                                <mat-datepicker-toggle matIconSuffix [for]="startdate"></mat-datepicker-toggle>
                                <mat-datepicker #startdate></mat-datepicker>
                                <mat-error>Please select Expense date</mat-error>
                              </mat-form-field>
                        </div> 
                        <div class="col-md-4"  *ngIf="!isClaiming">
                            <mat-form-field>
                                <mat-label>Expense Name</mat-label>
                                <input matInput  formControlName="name">
                                <mat-error>Please provide expense Name</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4"  >
                            <mat-form-field *ngIf="!isClaiming && !isEdit">
                                <mat-label>Against Imperest</mat-label>
                                <mat-select (selectionChange)="onimperestChange($event)" formControlName="imperestid">
                                    <mat-option  *ngFor="let field of imperestList" [value]="field">
                                        {{field.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Please select Imperest.</mat-error>
                            </mat-form-field>
                             <mat-form-field *ngIf="isClaiming ||(isEdit && !separateEdit)">
                                <mat-label>Againse Imperest</mat-label>
                                <input matInput readonly [value]="imperestName">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div> 
                    </div>
                    <div class="row control-div" *ngIf="!separateEdit">
                        <div class="row col-md-12 pr-0 pr-0" > 
                            <div class="row col-md-12">
                                <div class="col-md-10 ">  
                                    <span class="sub-heading control-div ">Expense(s)</span>
                                </div>
                                <div class="col-md-2">
                                    <div  class="table-title-row float-end">
                                    
                                        <div class="button-row">  
                                        
                                        <button mat-icon-button type="button" matTooltip="New Expense" (click)="addExpense()">
                                            <mat-icon>add_circle</mat-icon>
                                        </button>     
                                    </div>
                                    </div>
                                </div>                       
                            </div> 
                            <hr/> 
                                                 
                            <div class="wrapper pr-0" formArrayName="claimeddetails">
                                <div *ngFor="let item of details.controls; let i = index" [formGroupName]="i">
                                    <div class="col-md-12 row control-div pr-0">   
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label>Item Name</mat-label>
                                                <input matInput  formControlName="item">
                                                <mat-error>Please provide Name</mat-error>
                                            </mat-form-field>
                                        </div>                                  
                                        <div class="col-md-4">
                                            <mat-form-field appearance="fill" class="w-100">
                                                <mat-label>Expense Category</mat-label>
                                                <mat-select formControlName="categoryid">
                                                  <mat-option *ngFor="let category of getAvailableCategories(i)" [value]="category.id">
                                                    {{ category.expensename }}
                                                  </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="item.get('categoryid')?.hasError('required')">
                                                  Please select Category.
                                                </mat-error>
                                              </mat-form-field>
                                        </div> 
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <mat-label> Amount</mat-label>
                                                <input type="number" matInput formControlName="amount">
                                                <mat-error *ngIf="details.at(i).get('amount')?.hasError('required')" >Please enter amount for item.</mat-error>                                                
                                            </mat-form-field>
                                        </div>    
                                        <div class="col-md-4">
                                             <mat-form-field>
                                                <mat-label> Remarks</mat-label>
                                                <input  matInput formControlName="remarks">                                                
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-7">
                                            <app-file-uploader [required]="!isEdit" [title]="Uploadtitle" (onfileUpload)="onfileUploaded($event,i)" [title]="Uploadtitle"></app-file-uploader>
                                           </div>
                                        <div class="col-md-1 control-div content-center v-end">                                            
                                            <app-delete-btn class="mt-30" (clickEvent)="removeRow(i)" ></app-delete-btn>
                                        </div>
                                        <hr class="mb-0">
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <div class="row control-div">
                <div class=" button-row" align="right">
                      <button class="cancel-btn" mat-stroked-button mat-dialog-close color="default">Cancel</button>                     
                        <app-submit-load-btn (clickEvent)="submit()" [isClicked]="isClicked" [isValid]="expenseForm.valid || isClicked"
                        text=" {{isEdit?'Update':'Submit'}}" ></app-submit-load-btn>
              </div>
              </div>
          </mat-dialog-actions>
    </mat-card>
    <mat-card *ngIf="deleteRequest">      
        <mat-card-title class="card-title d-flex justify-content-center" >
            <mat-icon>warning</mat-icon><span>{{title}}</span>
        </mat-card-title>
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <mat-dialog-content>
                    <span class="mat-typography alert-content">
                        Are you sure you want to delete <span class="vw-lbl">{{expenseForm.controls['name'].value}}</span> ?. This operation can
                        not be un-done once performed sucessfully.
                    </span>
                </mat-dialog-content>
                <mat-dialog-actions align="center">
                    <div class="control-div">
                        <button class="delete-btn" mat-raised-button (click)="delete()" color="primary">
                            Delete
                        </button>
                        <button class="cancel-btn" mat-stroked-button color="default" mat-dialog-close>
                            Cancel
                        </button>
                    </div>
                </mat-dialog-actions>
            </div>
        </mat-card-content>
    </mat-card>
</div>
