
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ht-100{
  height: 100vh;
}
body {
    background-color: #ffffff !important;
}
.login{
  padding: 50px 50px 80px 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: white;
}
h3{
  font-size: 2.1rem;
  font-weight: 700;
    letter-spacing: -1px;
}
.p-text{
  font-size: 1.3rem;
}
.lbl{
  font-size: 18px;
}
mat-form-field{
  width:100% !important;
}
::ng-deep .mdc-button{
  height: 50px !important;
}
::ng-deep .mdc-button__label{
  font-size: 18px !important;
}
.content-data{
       background-color: #dbdbdb;
}
::ng-deep .mdc-button{
      height: 43px;
}
.f-pass{
  text-decoration: none;
    color: var(--mdc-fab-small-container-color);
    font-weight: 700;
    cursor: pointer;
}
/* Make outer wrapper full height */
.content {
  height: 100vh; /* Full height of browser */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Ensure row takes full height */
.content .row {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Inner box */
.login {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}
