<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login #7</title>
  </head>
  <body>
  
  <div class="content">
    
      <div class="row w-100">
        <div class="col-md-12 content-data" >
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-4 login ">
              
              <div class="mb-4 content-center">
                <h3 class="">Reset Password</h3>
                
              </div>
              <form [formGroup]="passform" (submit)="submit()">
                <div class="form-group first mb-4">
                 
                  <mat-form-field appearance="outline">
                        <mat-label class="lbl">New Password</mat-label>
                        <input type="password" matInput formControlName="password">
                        <mat-error>Please provide Password.</mat-error>
                    </mat-form-field>
                </div>
                
                 <div class="form-group first mb-2">
                 
                  <mat-form-field appearance="outline">
                        <mat-label class="lbl">Confirm Password</mat-label>
                        <input type="password" matInput formControlName="confirmpassword">
                        <mat-error *ngIf="passform.get('confirmpassword')?.hasError('required')">Please provide Password.</mat-error>
                        <mat-error *ngIf="passform.get('confirmpassword')?.hasError('passwordMismatch') && passform.get('confirmpassword')?.touched">
                            Passwords do not match
                        </mat-error>
                    </mat-form-field>
                </div>
               
                <div class=" d-flex justify-content-center align-items-center">
                  <app-submit-load-btn class="pass-btn"  [isClicked]="isBtnClicked" [isValid]="passform.valid || isBtnClicked"
                    text="Reset Password" ></app-submit-load-btn>
                </div>
              </form>
            </div>
          </div>
          
        </div>
        
      </div>
    
  </div>

  </body>
</html>