<div class="dialog" >
    <mat-card *ngIf="!deleteVehicle && !isEdit">
        <h3 mat-dialog-title class="justify-content-between align-items-center"> {{title}} 
            <button class="popup-close-btn float-end" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button> 
        </h3> 
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <app-alert-badge *ngIf="message" [isError]="true" [message]="message"></app-alert-badge>
                <form [formGroup]="vehicleForm" (submit)="submit()">
                    <div class="row content-center">
                        <div class="col-md-4 ">     
                            <h5 >Generate Bill for the Month :  </h5>
                        </div>
                        <div class="col-md-4">                          
                            <app-month-and-year-picker [defaultValue]="vehicleForm.get('monthandyear')?.value" (onValueChange)="dateChange($event)"  ></app-month-and-year-picker> 
                        </div>
                        <div class="col-md-4 ">  </div> 
                    </div>
                    <hr class="mt-0">
                    <div class="row control-div content-center">
                        <div class="col-md-4 ">
                           <h5> Generate For All Project</h5>
                        </div>
                        <div class="col-md-2">
                            <mat-slide-toggle [formControl]="isAllProject" (change)="onProjecttoggleChange($event)" labelPosition="before"></mat-slide-toggle>
                        </div>
                        <div class="col-md-6 ">
                            <app-project-control  *ngIf="!isAllProject.value" (onValueChange)="projectChange($event)"
                            [defaultValue]="vehicleForm.get('projectid')?.value" ></app-project-control>
                        </div>
                        <div class="col-md-4 " *ngIf="!isAllProject.value">
                            <h5> Generate For All Vehicle</h5>
                            
                        </div>
                        <div class="col-md-2 " *ngIf="!isAllProject.value">
                            <mat-slide-toggle [formControl]="isAllVehicle" (change)="onvehicletoggleChange($event)" labelPosition="before"></mat-slide-toggle>
                        </div>
                        <div class="col-md-6" >
                            <mat-form-field *ngIf="!isAllProject.value && !isAllVehicle.value">
                                <mat-label>Vehicle Name</mat-label>
                                <mat-select (selectionChange)="vehicleChange()" formControlName="vehicleid">
                                    <mat-option  *ngFor="let field of vehicleList" [value]="field.id">
                                        {{field.name +' - '+field.number}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="!vehicleForm.get('projectid')?.value">Please select Project first</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <hr class="mt-0">
                    <div class="row control-div" *ngIf="!isAllProject.value && !isAllVehicle.value">                       
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Vehicle Owner Name</mat-label>
                                <input matInput  formControlName="ownername">
                                <mat-error></mat-error>
                            </mat-form-field>   
                        </div>  
                       
                        <div class="col-md-4">                           
                            
                            <mat-form-field class="example-full-width">
                                <mat-label>End Date</mat-label>
                                <input matInput  formControlName="enddate" [matDatepicker]="enddate">
                                
                                <mat-datepicker-toggle matIconSuffix [for]="enddate"></mat-datepicker-toggle>
                                <mat-datepicker #enddate></mat-datepicker>
                                <mat-error>Please select End Date</mat-error>
                              </mat-form-field>  
                        </div>
                        <div class=" col-md-4">
                            <!-- <mat-form-field  >
                                <mat-label>Logs Km</mat-label>
                                <input type="number" readonly matInput formControlName="currentkm">
                                <mat-error></mat-error>
                            </mat-form-field>   -->
                        </div> 
                            <div class=" col-md-4">
                                <mat-form-field  >
                                    <mat-label>Fixed KM</mat-label>
                                    <input type="number" readonly matInput formControlName="fixedkm">
                                    <mat-error></mat-error>
                                </mat-form-field>  
                            </div> 
                            <div class="col-md-4">                           
                                <mat-form-field >
                                    <mat-label>Extra KM</mat-label>
                                    <input type="number" (input)="onExtraChange()" matInput formControlName="extrakm">
                                    <mat-error></mat-error>
                               </mat-form-field>  
                            </div> 
                       
                        <div class=" col-md-4">
                            <mat-form-field  >
                                <mat-label>Total KM</mat-label>
                                <input type="number" [value]="totalkm" disabled="true" matInput>
                                <mat-error></mat-error>
                            </mat-form-field>  
                        </div>    
                        <div class="col-md-4">
                            <mat-form-field >
                                <mat-label>Fixed Amount</mat-label>
                                <input type="number" readonly matInput formControlName="fixedamount">
                                <mat-error></mat-error>
                            </mat-form-field>  
                        </div>                    
                        <div class="col-md-4">
                            <mat-form-field >
                                <mat-label>Extra Amt. Per KM. after Fixed KM.</mat-label>
                                <input type="number" readonly matInput formControlName="extraamountperkmafterfixedkm">
                                <mat-error></mat-error>
                            </mat-form-field>  
                        </div> 
                        <div class=" col-md-4">
                            <mat-form-field  >
                                <mat-label>Total Amount</mat-label>
                                <input type="number" [value]="totalamount" disabled="true" matInput>
                                <mat-error></mat-error>
                            </mat-form-field>  
                        </div>                   
                        
                    </div>
                    <div class="row control-div" >
                        <div class="col-md-12 button-row" align="right">
                            <button class="cancel-btn" mat-stroked-button mat-dialog-close color="default">Cancel</button>
                            
                                <app-submit-load-btn  [isClicked]="isBtnClicked" [isValid]="vehicleForm.valid || isBtnClicked"
                                text=" {{isEdit?'Update':'Submit'}}" ></app-submit-load-btn>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card *ngIf="!deleteVehicle && isEdit">
        <h3 mat-dialog-title class="justify-content-between align-items-center"> {{title}} 
            <button class="popup-close-btn float-end" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
          </button> 
        </h3> 
        <mat-card-content>
            <div class="load-wrap" *ngIf="isLoading">
                <app-loader [IsLoading]="isLoading"></app-loader>
            </div>
            <div class="wrapper">
                <app-alert-badge *ngIf="message" [isError]="true" [message]="message"></app-alert-badge>
                <form [formGroup]="vehicleForm" (submit)="submit()">                   
                    <div class="row control-div" >
                        <div class="col-md-4">                           
                            <app-project-control [required]="isProjectrequired" (onValueChange)="projectChange($event)"
                            [defaultValue]="vehicleForm.get('projectid')?.value" ></app-project-control>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Vehicle Name</mat-label>
                                <mat-select (selectionChange)="vehicleChange()" formControlName="vehicleid">
                                    <mat-option  *ngFor="let field of vehicleList" [value]="field.id">
                                        {{field.name +' - '+field.number}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="!vehicleForm.get('projectid')?.value">Please select Project first</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-label>Vehicle Owner Name</mat-label>
                                <input matInput  formControlName="ownername">
                                <mat-error></mat-error>
                            </mat-form-field>   
                        </div>  
                        <div class="col-md-4">
                          
                            <app-month-and-year-picker [defaultValue]="vehicleForm.get('monthandyear')?.value" (onValueChange)="dateChange($event)"  ></app-month-and-year-picker> 
                        </div>
                        <div class="col-md-4">                           
                            
                            <mat-form-field class="example-full-width">
                                <mat-label>End Date</mat-label>
                                <input matInput  formControlName="enddate" [matDatepicker]="enddate">
                                
                                <mat-datepicker-toggle matIconSuffix [for]="enddate"></mat-datepicker-toggle>
                                <mat-datepicker #enddate></mat-datepicker>
                                <mat-error>Please select End Date</mat-error>
                              </mat-form-field>  
                        </div>
                        <div class=" col-md-4">
                            <!-- <mat-form-field  >
                                <mat-label>Logs Km</mat-label>
                                <input type="number" readonly matInput formControlName="currentkm">
                                <mat-error></mat-error>
                            </mat-form-field>   -->
                        </div> 
                            <div class=" col-md-4">
                                <mat-form-field  >
                                    <mat-label>Fixed KM</mat-label>
                                    <input type="number" readonly matInput formControlName="fixedkm">
                                    <mat-error></mat-error>
                                </mat-form-field>  
                            </div> 
                            <div class="col-md-4">                           
                                <mat-form-field >
                                    <mat-label>Extra KM</mat-label>
                                    <input type="number" (input)="onExtraChange()" matInput formControlName="extrakm">
                                    <mat-error></mat-error>
                               </mat-form-field>  
                            </div> 
                       
                        <div class=" col-md-4">
                            <mat-form-field  >
                                <mat-label>Total KM</mat-label>
                                <input type="number" [value]="totalkm" disabled="true" matInput>
                                <mat-error></mat-error>
                            </mat-form-field>  
                        </div>    
                        <div class="col-md-4">
                            <mat-form-field >
                                <mat-label>Fixed Amount</mat-label>
                                <input type="number" readonly matInput formControlName="fixedamount">
                                <mat-error></mat-error>
                            </mat-form-field>  
                        </div>                    
                        <div class="col-md-4">
                            <mat-form-field >
                                <mat-label>Extra Amt. Per KM. after Fixed KM.</mat-label>
                                <input type="number" readonly matInput formControlName="extraamountperkmafterfixedkm">
                                <mat-error></mat-error>
                            </mat-form-field>  
                        </div> 
                        <div class=" col-md-4">
                            <mat-form-field  >
                                <mat-label>Total Amount</mat-label>
                                <input type="number" [value]="totalamount" disabled="true" matInput>
                                <mat-error></mat-error>
                            </mat-form-field>  
                        </div>                   
                        
                    </div>
                    <div class="row control-div" >
                        <div class="col-md-12 button-row" align="right">
                            <button class="cancel-btn" mat-stroked-button mat-dialog-close color="default">Cancel</button>
                            
                                <app-submit-load-btn  [isClicked]="isBtnClicked" [isValid]="vehicleForm.valid || isBtnClicked"
                                text=" {{isEdit?'Update':'Submit'}}" ></app-submit-load-btn>
                        </div>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<mat-card *ngIf="deleteVehicle">      
    <mat-card-title class="card-title d-flex justify-content-center" >
        <mat-icon>warning</mat-icon><span>{{title}}</span>
    </mat-card-title>
    <mat-card-content>
        <div class="load-wrap" *ngIf="isLoading">
            <app-loader [IsLoading]="isLoading"></app-loader>
        </div>
        <div class="wrapper">
            <mat-dialog-content>
                <span class="mat-typography alert-content">
                    Are you sure you want to delete 
                    <span class="vw-lbl">
                        {{data.element.vehicleno}}
                    </span>  
                    billing for 
                    <span class="vw-lbl">
                        {{getMonthandYear(data.element.monthandyear).month}}
                    </span> ?. This operation can
                    not be un-done once performed sucessfully.
                </span>
            </mat-dialog-content>
            <mat-dialog-actions align="center">
                <div class="control-div">
                    <button class="delete-btn" mat-raised-button (click)="delete()" color="primary">
                        Delete
                    </button>
                    <button class="cancel-btn" mat-stroked-button color="default" mat-dialog-close>
                        Cancel
                    </button>
                </div>
            </mat-dialog-actions>
        </div>
    </mat-card-content>
</mat-card>